<div class="section-full p-t120 p-b120 site-bg-white twm-explore-area2">
    <div class="container">

        <div class="section-content">
            <div class="twm-explore-content-2">
                <div class="row">

                    <div class="col-lg-8 col-md-12">
                        <div class="twm-explore-content-outer2">
                            <div class="twm-explore-top-section">
                                <div class="twm-title-small">For Employee</div>
                                <div class="twm-title-large">
                                    <h2>We help you connect 
                                        with the organizer</h2>
                                    <p>Get paid easily and security. Use our resources to become
                                        independent and showcase your professional skills.</p>
                                </div>
                                <div class="twm-read-more">
                                    <a href="about-1.html" class="site-button">Read More</a>
                                </div>
                            </div>

                            <div class="twm-explore-bottom-section">
                                <div class="row">

                                    <!--block 1-->
                                    <div class="col-lg-4 col-md-6">
                                        <div class="counter-outer-two">
                                            <div class="icon-content">
                                                <div class="tw-count-number text-clr-yellow-2">
                                                    <span class="counter">5</span>M+</div>
                                                <p class="icon-content-info">Million daily active users</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!--block 2-->
                                    <div class="col-lg-4 col-md-6">
                                        <div class="counter-outer-two">
                                            <div class="icon-content">
                                                <div class="tw-count-number text-clr-green">
                                                    <span class="counter">9</span>K+</div>
                                                <p class="icon-content-info">Open job positions</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!--block 3-->
                                    <div class="col-lg-4 col-md-12">
                                        <div class="counter-outer-two">
                                            <div class="icon-content">
                                                <div class="tw-count-number text-clr-pink">
                                                    <span class="counter">2</span>M+</div>
                                                <p class="icon-content-info">Million stories shared</p>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="twm-explore-media-wrap2">
                            <div class="twm-media">
                                <img src="../../assets/images/gir-large-2.png" alt="">
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
       
    </div>
</div>



<style>

.twm-explore-area {
  overflow: hidden;
}

.twm-explore-content-outer {
  position: relative;
  z-index: 1;
}
.twm-explore-content-outer .twm-bold-circle-left {
  width: 140px;
  height: 140px;
  border: 30px solid #475752;
  left: 50px;
  bottom: -110px;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
}
.twm-explore-content-outer .twm-bold-circle-right {
  width: 250px;
  height: 250px;
  border: 50px solid #b2e737;
  right: -140px;
  top: -90px;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
}

.twm-explore-media-wrap .twm-media {
  position: relative;
  z-index: 2;
  margin-right: -85px;
}
@media (max-width: 991px) {
  .twm-explore-media-wrap .twm-media {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .twm-explore-media-wrap .twm-media {
    margin-right: 0px;
  }
  .twm-explore-media-wrap .twm-media img {
    width: 100%;
  }
}

.twm-explore-content {
  background-color:var(--primary-100);
  border-radius: 10px;
  padding: 55px 70px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  margin-left: 30px;
  z-index: 1;
}
@media (max-width: 991px) {
  .twm-explore-content {
    margin-bottom: 30px;
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .twm-explore-content {
    padding: 30px;
  }
}
.twm-explore-content .twm-l-line-1 {
  width: 475px;
  height: 475px;
  position: absolute;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  opacity: 0.1;
  left: -290px;
  top: -290px;
  z-index: -1;
}
.twm-explore-content .twm-l-line-2 {
  width: 475px;
  height: 475px;
  position: absolute;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  opacity: 0.1;
  left: -230px;
  top: -230px;
  z-index: -1;
}
.twm-explore-content .twm-r-circle-1 {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #e7e7e7;
  border-radius: 50%;
  opacity: 0.05;
  right: -140px;
  top: -200px;
  z-index: -1;
}
.twm-explore-content .twm-r-circle-2 {
  width: 500px;
  height: 500px;
  position: absolute;
  background-color: #e7e7e7;
  border-radius: 50%;
  opacity: 0.05;
  right: -90px;
  top: -145px;
  z-index: -1;
}
.twm-explore-content .twm-title-small {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}
.twm-explore-content .twm-title-large {
  margin-bottom: 40px;
}
.twm-explore-content .twm-title-large h2 {
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .twm-explore-content .twm-title-large h2 {
    font-size: 30px;
  }
}
.twm-explore-content .twm-title-large p {
  color: #e7e7e7;
}
.twm-explore-content .twm-upload-file .site-button {
  color: rgba(0, 0, 0, 0) !important;
  transition: all 0.3s ease !important;
  text-shadow: 0 0 0 #1967d2, 400px 0 0 #1967d2;
  background-color: #fff;
}
.twm-explore-content .twm-upload-file .site-button:hover {
  text-shadow: -400px 0 0 #1967d2, 0 0 0 #1967d2;
}
.twm-explore-content .twm-upload-file .site-button:hover i {
  text-shadow: none;
}
.twm-explore-content .twm-upload-file .site-button i {
  color: #1967d2;
  padding-right: 0px;
  padding-left: 5px;
  font-size: 24px;
  text-shadow: none;
}

.twm-explore-content-2 {
  background-color: var(--primary-100);
  border-radius: 50px;
  padding: 55px 70px;
  position: relative;
  z-index: 1;
  margin-right: 100px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .twm-explore-content-2 {
    padding: 30px;
  }
}
@media (max-width: 600px) {
  .twm-explore-content-2 {
    margin-right: 0px;
  }
}
.twm-explore-content-2 .twm-explore-top-section {
  margin-right: 110px;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .twm-explore-content-2 .twm-explore-top-section {
    margin-right: 0px;
  }
}
.twm-explore-content-2 .twm-explore-top-section .twm-title-small {
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}
.twm-explore-content-2 .twm-explore-top-section .twm-title-large {
  margin-bottom: 40px;
}
.twm-explore-content-2 .twm-explore-top-section .twm-title-large h2 {
  color:var(--bg-300);
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 35px;
}
@media (max-width: 991px) {
  .twm-explore-content-2 .twm-explore-top-section .twm-title-large h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .twm-explore-content-2 .twm-explore-top-section .twm-title-large h2 {
    font-size: 22px;
    font-weight: 400;
  }
}
.twm-explore-content-2 .twm-explore-top-section .twm-title-large p {
  color: var(--primary-300);
  font-weight: 200;
}
.twm-explore-content-2 .twm-explore-top-section .twm-read-more .site-button {
  background-color: var(--primary-300);
  color: black;
  text-shadow: 0 0 0 #616161, 400px 0 0 #919191;
  padding: 10px 30px 10px;
  border-radius: 30px;
}
.twm-explore-content-2 .twm-explore-top-section .twm-read-more .site-button:hover {
  /* //text-shadow: -400px 0 0 #fff, 0 0 0 #fff; */
  background-color:var(--bg-300);
}
.twm-explore-content-2 .twm-explore-top-section .twm-read-more .site-button i {
  color: white;
  padding-right: 0px;
  padding-left: 5px;
  font-size: 24px;
  background-color: red;
}
.twm-explore-content-2 .twm-explore-bottom-section .counter-outer-two {
  position: relative;
}
.twm-explore-content-2 .twm-explore-bottom-section .counter-outer-two .tw-count-number {
  font-size: 38px;
  line-height: 38px;
  color:var(--primary-300);
  font-weight: 700;
  /* //font-family: "Rubik", sans-serif; */
}
.twm-explore-content-2 .twm-explore-bottom-section .counter-outer-two .counter {
  font-size: 46px;
  line-height: 50px;
  font-weight: 600;
  /* ////font-family: "Rubik", sans-serif; */
}
.twm-explore-content-2 .twm-explore-bottom-section .counter-outer-two .icon-content-info {
  color: #fff;
  margin-bottom: 0px;
  font-size: 14px;
}
.twm-explore-content-2 .twm-explore-media-wrap2 {
  position: relative;
  z-index: 1;
  height: 100%;
}
.twm-explore-content-2 .twm-explore-media-wrap2:after {
  background-color: #fff;
  content: "";
  position: absolute;
  width: 467px;
  height: 467px;
  border-radius: 50%;
  right: -170px;
  top: 0px;
  z-index: -1;
  box-shadow: 20px 20px 0px var(--accent-100) inset;
}
@media (max-width: 600px) {
  .twm-explore-content-2 .twm-explore-media-wrap2:after {
    display: none;
  }
}
.twm-explore-content-2 .twm-explore-media-wrap2 .twm-media {
  position: absolute;
  width: 350px;
  right: -170px;
  bottom: -40px;
}
@media (max-width: 600px) {
  .twm-explore-content-2 .twm-explore-media-wrap2 .twm-media {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .twm-explore-content-2 .twm-explore-media-wrap2 .twm-media {
    position: inherit;
    right: inherit;
    bottom: inherit;
    margin: 0px auto;
  }
}
.twm-explore-content-2 .twm-explore-media-wrap2 .twm-media img {
  width: auto;
}
@media (max-width: 600px) {
  .twm-explore-content-2 .twm-explore-media-wrap2 .twm-media img {
    width: 95%;
  }
}

/*Explore New Life*/
.twm-explore-content-outer-3 {
  position: relative;
  z-index: 1;
  margin-bottom: 130px;
}
@media (max-width: 991px) {
  .twm-explore-content-outer-3 {
    margin-bottom: 70px;
  }
}
@media (max-width: 575px) {
  .twm-explore-content-outer-3 {
    margin-bottom: 30px;
  }
}
.twm-explore-content-outer-3 .twm-l-line-1 {
  width: 73px;
  height: 270px;
  position: absolute;
  background-color: #eac87c;
  border-radius: 50px;
  left: -30px;
  bottom: -140px;
  z-index: -1;
  opacity: 0.2;
}
@media (max-width: 991px) {
  .twm-explore-content-outer-3 .twm-l-line-1 {
    display: none;
  }
}
.twm-explore-content-outer-3 .twm-l-line-2 {
  width: 73px;
  height: 270px;
  position: absolute;
  background-color: #cea7d9;
  border-radius: 50px;
  left: 55px;
  bottom: -120px;
  z-index: -1;
  opacity: 0.2;
}
@media (max-width: 991px) {
  .twm-explore-content-outer-3 .twm-l-line-2 {
    display: none;
  }
}
.twm-explore-content-outer-3 .twm-explore-content-3 {
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(56, 152, 226, 0.3);
  border-radius: 10px;
  padding: 55px 70px;
  position: relative;
  margin-top: 70px;
  margin-left: 30px;
  z-index: 1;
}
@media (max-width: 991px) {
  .twm-explore-content-outer-3 .twm-explore-content-3 {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .twm-explore-content-outer-3 .twm-explore-content-3 {
    padding: 30px;
  }
}
.twm-explore-content-outer-3 .twm-explore-content-3:after {
  content: "";
  right: -40px;
  top: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-right: 40px solid #f0f6fe;
  border-bottom: 40px solid #f0f6fe;
  border-radius: 10px;
  z-index: -1;
}
@media (max-width: 575px) {
  .twm-explore-content-outer-3 .twm-explore-content-3:after {
    display: none;
  }
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-title-small {
  margin-bottom: 10px;
  color: #17171d;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-title-large {
  margin-bottom: 40px;
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-title-large h2 {
  color: #17171d;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .twm-explore-content-outer-3 .twm-explore-content-3 .twm-title-large h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .twm-explore-content-outer-3 .twm-explore-content-3 .twm-title-large h2 {
    font-size: 22px;
  }
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-upload-file .site-button {
  background-color: #1967d2;
  color: #fff;
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-upload-file .site-button i {
  color: #fff;
  padding-right: 0px;
  padding-left: 5px;
  font-size: 24px;
  text-shadow: none;
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-upload-file .site-button:hover {
  background-color: #171d28;
}
.twm-explore-content-outer-3 .twm-explore-content-3 .twm-upload-file .site-button:hover i {
  text-shadow: none;
}

</style>