<section class="ev-testimonial bg-light-subtle-blue ptb-120 mt-5">
    <ul class="list-unstyled author d-none d-xl-block">
        <li>
            <img src="../../assets/img/event/t-1.png" class="img-fluid" alt="icon" />
        </li>
        <li>
            <img src="../../assets/img/event/t-2.png" class="img-fluid" alt="icon" />
        </li>
    </ul>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <span class="fw-bold text-dark-blue">Testimonial</span>
                    <h2 class="hero-header">Customer Say About us</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="swiper ev-testimonial-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text-center ev-single-testimonial">
                                <img src="../../assets/img/event/testi-1.png" alt="avatar" class="mb-3" />
                                <h5>Terrence Alexander</h5>
                                <ul class="list-unstyled rating-list list-inline mb-0">
                                    <li class="list-inline-item">
                                        <i class="fas fa-star text-warning"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fas fa-star text-warning"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fas fa-star text-warning"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fas fa-star text-warning"></i>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="fas fa-star text-warning"></i>
                                    </li>
                                </ul>
                                <p class="fw-100">
                                    Proactively target customer directed infrastructures via
                                    parallel e-business. Authoritatively coordinate superior
                                    potentialities through value-added content. Rapidiously
                                    visualize collaborative growth strategies before
                                    client-focused web services. Competently strategize
                                    out-of-the-box e-services.
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="eve-pagination swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
    .ev-testimonial{position:relative}.ev-testimonial .author li{position:absolute}.ev-testimonial .author li:first-child{left:5%;top:0;width:400px}.ev-testimonial .author li:last-child{right:2%;top:10%;width:400px}.ev-testimonial-slider{padding-bottom:50px}.ev-testimonial-slider .eve-pagination.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet{width:6px;height:6px;border-radius:50%;background:rgba(253,3,90,.5);position:relative;margin-right:10px}.ev-testimonial-slider .eve-pagination.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet::before{content:"";position:absolute;height:20px;width:20px;top:-7px;bottom:0;right:0;left:-7px;border:1px solid #fd035a;border-radius:50%;opacity:0;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:scale(0.5);transform:scale(0.5)}.ev-testimonial-slider .eve-pagination.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active{background-color:#fd035a}.ev-testimonial-slider .eve-pagination.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active::before{opacity:1}.eve-blog .ev-blog-meta{border-radius:0 0 4px 4px}.eve-blog .ev-blog-meta .date,.eve-blog .ev-blog-meta .location{font-size:14px}
</style>