<section>

    <div class="container">

    <div class="row d-flex info-hero">

    <div class="col-lg-5 right-image">
        <img src="https://cdn.rareblocks.xyz/collection/clarity/images/features-v2/1/illustration.png"  class="img-fluid" alt="">
    </div>

    <div class="col-lg-7 left-text">

        <div class="h2 info-header">
            <h2>Collaborate coding, <span class="gradient1">with everyone.</span></h2>

            <p>Create custom landing pages with Rareblocks that converts more visitors than hat converts more visitors than any website. With lots of unique blocks, you can easily build a page.</p>
        </div>
    </div>
    </div>
    </div>
</section>


<style>
    .gradient1{
   color: #38b08e; background-image: -webkit-linear-gradient(45deg, #38b08e 41%, #d2bbb1 19%, #82ffbc 30%, #312eff 50%, #312eff 50%, #312eff 50%, #6e8fcc 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;

}

    .left-text{
        justify-content:center;
        align-items: center;
        margin: auto;
    }
    .info-hero{
        margin-top: 50px;
        padding: 10px;
    }

    .right-image img{
        padding: 20px;
    }
    .info-hero .info-header h2{
        font-size: 50px;
        font-weight: bold;
        padding: 20px;
       
    }

    .info-header p{
        font-size:20px;
        font-weight: 300;
        padding: 20px;
    }

    body.dark .info-hero .info-header h2{
        color: var(--primary-300)
    }

    body.dark p{
        color: var(--primary-300)
    }
</style>