<div class="tp-cta-4__area">
    <div class="tp-cta-4__bg fix p-relative">
        <div class="tp-cta-4__shape-1 d-none d-lg-block">
            <img src="../../assets/images/cta/cta-4-1.png" alt="">
        </div>
        <div class="tp-cta-4__shape-6 d-none d-xl-block">
            <img src="../../assets/images/cta/cta-4-5.png" alt="">
        </div>
        <div class="tp-cta-4__shape-3 d-none d-lg-block">
            <img src="../../assets/images/cta/cta-4-3.png" alt="">
        </div>
        <div class="tp-cta-4__shape-4 d-none d-lg-block">
            <img src="../../assets/images/cta/cta-4-4.png" alt="">
        </div>
        <div class="container custom-container-3">
            <div class="row">
                <div class="col-xl-12">
                    <div class="tp-cta-4__content text-center z-index">
                        <h3 class="tp-cta-4__title">Ready to create some <br>
                            <span class="p-relative">custom
                                <span class="tp-title-shape">
                                    <svg width="147" height="4" viewBox="0 0 147 4" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M145.048 3.21678C145.499 3.21678 146.249 3.18881 146.7 3.24476C145.949 3.24476 145.198 3.27273 144.598 3.27273C144.298 3.32867 145.048 3.35664 145.349 3.38462C145.949 3.38462 146.55 3.38462 147 3.44056C146.55 3.46853 145.949 3.46853 145.349 3.46853C144.748 3.46853 143.997 3.44056 143.547 3.4965C143.997 3.52448 143.997 3.52448 143.997 3.58042C142.946 3.60839 142.946 3.77622 141.295 3.72028C140.694 3.72028 140.094 3.72028 139.493 3.72028C138.743 3.83217 137.842 3.94406 135.89 3.88811C135.29 3.91608 134.689 3.91608 134.089 3.88811C132.437 3.94406 130.786 3.91608 129.134 3.94406C128.984 3.97203 128.834 3.97203 128.684 3.94406C128.083 3.94406 127.483 3.94406 126.882 3.94406H126.732H126.582C125.981 3.94406 125.531 3.97203 124.93 3.94406C122.829 3.94406 120.577 3.94406 118.475 3.97203C117.124 3.97203 116.073 3.94406 115.322 3.86014H115.172H115.022C114.571 3.91608 114.721 4 113.22 4C111.719 3.97203 110.217 3.97203 108.566 3.97203C107.515 3.94406 106.464 4 105.413 3.97203C101.66 3.94406 97.9066 3.94406 94.1533 3.91608C90.8504 3.91608 87.5474 3.88811 84.2445 3.86014C83.0434 3.91608 81.8424 3.86014 80.7915 3.86014C74.7861 3.83217 68.6307 3.83217 62.6254 3.74825C59.923 3.72028 57.2206 3.74825 54.5182 3.69231C52.1161 3.69231 49.8641 3.66434 47.462 3.63636C41.9071 3.58042 36.3522 3.52448 30.9474 3.41259C28.6954 3.41259 26.5935 3.38462 24.6418 3.3007C21.489 3.3007 18.4864 3.21678 15.6339 3.13287C15.1834 3.13287 14.8832 3.1049 14.5829 3.1049C13.3819 3.13287 12.4811 3.07692 11.4301 3.02098C10.6795 3.02098 10.0789 2.99301 9.62854 2.96504C9.17813 2.93706 8.72774 2.93706 8.27734 2.90909C7.82693 2.85315 7.07628 2.85315 6.32561 2.85315C5.12454 2.7972 3.62323 2.76923 3.32297 2.62937C1.07097 2.6014 0.470444 2.48951 0.620575 2.34965C-0.280228 2.18182 -0.130096 2.01399 0.620575 1.84615C0.620575 1.76224 0.620575 1.67832 0.620575 1.59441V1.56643C0.320297 1.37063 1.97176 1.2028 1.52136 1.03497C1.37123 0.895105 2.27202 0.783217 2.87254 0.671329C2.87254 0.643357 2.87256 0.587413 3.47308 0.559441C3.62323 0.531469 4.07362 0.503497 4.67416 0.475525C5.42482 0.363636 6.32559 0.27972 7.82692 0.251748C8.1272 0.195804 8.72772 0.223776 9.17812 0.223776C9.62852 0.195804 10.0789 0.167832 10.5293 0.13986C10.9797 0.111888 11.4301 0.111888 11.8805 0.111888C13.6821 0.0559441 15.4837 0.027972 17.4354 0.027972C18.1861 0.027972 18.7866 0.027972 19.5373 0.027972C19.8376 0.027972 20.2879 0.027972 20.5882 0C24.6418 0 28.8455 0 32.8991 0.027972C35.001 0.027972 37.1028 0 39.2047 0.0839161C41.0063 0.0839161 43.1081 0.027972 45.0599 0.111888C45.5103 0.111888 45.9607 0.111888 46.2609 0.111888C47.6121 0.0839161 48.8132 0.0839161 50.1644 0.111888C53.4673 0.111888 56.7702 0.13986 59.923 0.167832C60.9739 0.167832 62.175 0.13986 63.0758 0.195804C63.6763 0.223776 64.2769 0.223776 64.8774 0.195804C66.8291 0.195804 68.7808 0.195804 70.7326 0.223776C71.0328 0.223776 71.3331 0.223776 71.6334 0.223776C72.384 0.251748 73.2848 0.223776 74.0355 0.251748C75.0864 0.251748 76.2875 0.251748 77.3384 0.251748C78.2392 0.251748 79.2901 0.251748 80.0408 0.27972C80.6413 0.27972 81.2419 0.27972 81.8424 0.27972C83.0434 0.27972 84.3946 0.251748 85.5957 0.307692C87.8477 0.307692 90.0997 0.335664 92.2015 0.335664C95.8047 0.335664 99.4079 0.391608 103.011 0.41958C104.212 0.41958 105.263 0.41958 106.464 0.447553C105.413 0.447553 104.212 0.447553 103.161 0.447553C104.212 0.41958 105.413 0.41958 106.464 0.447553C108.416 0.447553 110.217 0.447553 112.019 0.503497C112.77 0.503497 113.52 0.503497 114.271 0.531469C114.421 0.531469 114.571 0.531469 114.721 0.531469C116.373 0.531469 118.024 0.559441 119.676 0.615385C121.177 0.615385 122.528 0.671329 123.88 0.699301C124.63 0.699301 125.381 0.699301 126.132 0.755245C127.483 0.783217 128.684 0.811189 129.134 0.895105C130.035 0.839161 130.636 0.895105 131.386 0.923077C132.137 0.979021 131.837 1.06294 132.737 1.11888C132.287 1.11888 131.837 1.11888 131.386 1.11888C131.536 1.14685 131.686 1.17483 131.837 1.17483C132.888 1.23077 133.938 1.25874 134.989 1.28671C135.14 1.28671 135.29 1.28671 135.44 1.28671C136.491 1.28671 137.692 1.25874 138.593 1.31469H138.743C138.743 1.31469 138.743 1.34266 138.593 1.34266C137.992 1.34266 137.392 1.34266 136.941 1.34266H136.791C137.542 1.31469 138.142 1.31469 138.593 1.34266C138.893 1.45455 137.992 1.48252 137.692 1.53846C137.842 1.56643 137.091 1.59441 137.692 1.62238C138.142 1.62238 138.893 1.59441 138.743 1.65035C138.593 1.70629 137.692 1.67832 137.241 1.67832C137.091 1.67832 136.941 1.70629 136.791 1.70629C137.992 1.79021 139.193 1.81818 140.394 1.87413C142.196 1.87413 142.946 1.98601 143.997 2.06993C144.298 2.0979 144.748 2.06993 144.898 2.0979C143.997 2.0979 144.448 2.18182 143.847 2.20979C141.745 2.26573 141.745 2.34965 143.697 2.46154C144.298 2.48951 145.499 2.51748 145.799 2.6014C145.799 2.62937 145.799 2.65734 145.799 2.65734C146.099 2.65734 146.399 2.65734 146.399 2.68531C146.249 2.74126 145.799 2.71329 145.349 2.71329C145.048 2.71329 144.598 2.71329 144.448 2.74126C144.748 2.82518 144.598 2.85315 143.697 2.85315C143.997 2.90909 144.898 2.88112 144.748 2.96504C145.198 2.96504 145.499 2.99301 145.949 2.99301C145.499 3.04895 144.598 2.99301 144.448 3.04895C144.898 3.1049 144.898 3.13287 144.147 3.1049C143.547 3.1049 142.796 3.07692 143.547 3.16084C143.997 3.16084 144.598 3.16084 145.048 3.21678ZM4.22374 1.48252C4.07361 1.48252 4.07361 1.48252 4.07361 1.51049C4.07361 1.48252 4.22374 1.48252 4.22374 1.48252ZM42.0572 1.9021C42.2073 1.93007 42.2073 1.9021 42.3575 1.9021C42.2073 1.9021 42.0572 1.9021 42.0572 1.9021ZM60.8238 2.32168C60.6737 2.32168 60.6737 2.32168 60.8238 2.32168V2.32168ZM48.2126 2.01399C48.2126 1.98601 48.2126 1.98601 48.2126 2.01399V2.01399ZM41.1564 2.54545C41.0063 2.54545 41.0063 2.54545 40.8561 2.51748C40.8561 2.51748 40.706 2.51748 40.706 2.54545C40.8561 2.54545 41.0063 2.54545 41.1564 2.54545ZM24.4917 2.18182C24.6418 2.15385 24.4917 2.15385 24.4917 2.18182V2.18182ZM48.8132 2.7972C48.9633 2.7972 48.9633 2.7972 48.8132 2.7972V2.7972ZM45.8105 2.71329C45.6604 2.71329 45.6604 2.74126 45.3601 2.74126C45.5102 2.71329 45.6604 2.71329 45.8105 2.71329ZM17.2853 2.18182C17.2853 2.20979 17.2853 2.20979 17.2853 2.18182V2.18182ZM110.518 1.62238C110.518 1.62238 110.518 1.59441 110.368 1.62238C110.368 1.62238 110.368 1.62238 110.217 1.62238C110.368 1.62238 110.368 1.62238 110.518 1.62238ZM122.678 2.62937C122.678 2.6014 122.829 2.6014 122.829 2.57343C122.528 2.6014 122.528 2.6014 122.678 2.62937ZM87.5474 3.02098C87.5474 3.02098 87.3973 3.02098 87.3973 3.04895C87.5474 3.04895 87.8477 3.04895 87.9978 3.04895C87.8477 3.02098 87.6976 3.02098 87.5474 3.02098ZM97.0058 1.45455C97.0058 1.42657 97.0058 1.42657 97.0058 1.45455C97.0058 1.42657 96.8557 1.42657 97.0058 1.45455ZM119.826 1.84615C119.976 1.84615 119.976 1.84615 119.826 1.84615C119.976 1.81818 120.126 1.81818 120.126 1.79021C119.976 1.79021 119.826 1.79021 119.676 1.79021C119.826 1.81818 119.826 1.81818 119.826 1.84615ZM118.175 1.37063C118.024 1.3986 118.024 1.3986 118.175 1.37063V1.37063ZM74.7861 3.41259C74.7861 3.44056 74.7861 3.44056 74.636 3.46853C74.7861 3.46853 74.9363 3.46853 75.0864 3.46853C74.9363 3.44056 74.9363 3.44056 74.7861 3.41259ZM105.413 0.867133C105.563 0.867133 105.563 0.867133 105.713 0.867133C105.713 0.867133 105.563 0.867133 105.413 0.867133ZM61.4243 0.531469C61.2742 0.531469 61.2742 0.531469 61.4243 0.531469V0.531469ZM142.196 3.58042C142.796 3.52448 143.247 3.55245 143.847 3.58042C143.397 3.58042 142.796 3.58042 142.196 3.58042ZM80.3411 0.335664C80.4912 0.335664 80.6413 0.335664 80.7915 0.363636C80.4912 0.335664 80.3411 0.335664 80.3411 0.335664Z"
                                            fill="url(#paint0_linear_122_8)" />
                                        <defs>
                                            <linearGradient id="paint0_linear_122_8" x1="124.235"
                                                y1="4.37008e-06" x2="-2.57609" y2="44.3541"
                                                gradientUnits="userSpaceOnUse">
                                                <stop offset="0" stop-color="#EF5C92" />
                                                <stop offset="0.247843" stop-color="#A85CC5" />
                                                <stop offset="1" stop-color="#6698FB" />
                                            </linearGradient>
                                        </defs>
                                    </svg>

                                </span>
                            </span> products?
                        </h3>
                        <a class="tp-btn-lg" href="about-us.html">Explore More
                            <i>
                                <svg width="18" height="17" viewBox="0 0 18 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.6742 4.74002C17.3484 4.25133 16.8597 3.92554 16.2896 3.76264C15.0679 3.5183 13.9276 4.25133 13.6018 5.3916L12.8688 7.99794L5.78281 1.07486C4.96833 0.260384 3.66516 0.260384 2.93213 1.07486L2.85068 1.15631C2.60633 1.40065 2.52489 1.645 2.44344 1.97079C1.8733 1.88934 1.22172 2.13369 0.81448 2.54093C-0.081448 3.27396 -0.162896 4.57712 0.570136 5.3916L0.651584 5.47305L1.14027 6.04319C0.977376 6.12463 0.81448 6.20608 0.651584 6.36898C0.244344 6.77622 0 7.26491 0 7.83504C0 8.40518 0.244344 8.89386 0.570136 9.38255C5.04977 13.9436 6.67873 15.4097 7.08597 15.7355C7.9819 16.4685 9.36652 16.9572 10.6697 16.9572C11.4842 16.9572 12.2172 16.7943 12.9502 16.3056C14.3348 15.3282 15.4751 14.0251 16.0452 12.8034C16.2896 12.3961 16.6968 11.1744 17.9186 6.36898C18.0814 5.79884 18 5.22871 17.6742 4.74002ZM14.4163 12.2332C14.0091 13.2106 13.0317 14.2694 11.8914 15.0025C11.0769 15.5726 9.12217 15.2468 8.1448 14.4323C7.819 14.1065 6.19005 12.7219 1.79186 8.16083C1.71041 8.07938 1.62896 7.99794 1.62896 7.83504C1.62896 7.75359 1.71041 7.5907 1.79186 7.50925C1.95475 7.26491 2.28054 7.26491 2.52489 7.50925L5.04977 10.0341C5.21267 10.197 5.45701 10.2785 5.61991 10.2785H5.70136C5.86425 10.2785 6.1086 10.197 6.27149 9.95269C6.59728 9.62689 6.59728 9.13821 6.27149 8.81242L1.79186 4.25133C1.62896 4.08844 1.62896 3.84409 1.79186 3.76264C2.0362 3.5183 2.36199 3.5183 2.60633 3.76264L4.80543 5.88029L7.00453 8.07938C7.16742 8.24228 7.41176 8.32373 7.65611 8.32373C7.90045 8.32373 8.06335 8.24228 8.22624 8.07938C8.55204 7.75359 8.55204 7.26491 8.22624 6.93911L4.0724 2.86672C3.9095 2.70382 3.9095 2.37803 4.0724 2.13369C4.23529 1.97079 4.47964 1.97079 4.64253 2.13369L12.7059 10.0341C12.8688 10.197 13.0317 10.2785 13.276 10.2785C13.5204 10.2785 13.7647 10.197 13.8462 10.1156C14.0091 9.95269 14.009 9.87124 14.0905 9.70834V9.62689L15.1493 5.79884C15.2308 5.47305 15.5566 5.31016 15.8824 5.3916C16.0452 5.3916 16.1267 5.47305 16.2081 5.63595C16.2896 5.79884 16.2896 5.88029 16.2896 6.04319C15.1493 10.3599 14.6606 11.826 14.4163 12.2332ZM8.06335 1.56355C8.30769 1.645 8.47059 1.80789 8.71493 1.88934C8.95928 1.97079 9.12217 2.13369 9.36652 2.29658C9.69231 2.54093 10.0995 2.86672 10.4253 3.19251C10.7511 3.5183 11.0769 3.84409 11.3213 4.25133C11.4842 4.41423 11.7285 4.57712 11.9729 4.57712C12.1357 4.57712 12.2986 4.49568 12.3801 4.41423C12.7873 4.16988 12.8688 3.6812 12.6244 3.27396C12.2986 2.78527 11.9729 2.37803 11.5656 1.97079C11.1584 1.56355 10.7511 1.23776 10.2624 0.911967C10.0181 0.749072 9.77376 0.667624 9.52941 0.504728C9.20362 0.341832 8.95928 0.178936 8.71493 0.0974882C8.30769 -0.146856 7.819 0.0974882 7.65611 0.504728C7.41176 0.911967 7.65611 1.40065 8.06335 1.56355ZM4.96833 14.7581C4.72398 14.6767 4.47964 14.5138 4.31674 14.4323C4.0724 14.2694 3.9095 14.188 3.66516 14.0251C3.25792 13.6993 2.93213 13.3735 2.60633 13.0477C2.28054 12.7219 2.0362 12.3147 1.79186 11.9074C1.54751 11.5816 1.05882 11.4187 0.651584 11.6631C0.325792 11.9074 0.162896 12.3961 0.40724 12.8034C0.733032 13.2921 1.05882 13.7807 1.46606 14.188C1.8733 14.5952 2.28054 15.0025 2.76923 15.3282L3.50226 15.8169C3.50226 15.8169 3.99095 16.0613 4.23529 16.2242C4.31674 16.3056 4.47964 16.3056 4.56109 16.3056C4.88688 16.3056 5.13122 16.1427 5.37557 15.8169C5.53846 15.4097 5.37557 14.921 4.96833 14.7581Z"
                                        fill="url(#paint0_linear_106_218)" />
                                    <defs>
                                        <linearGradient id="paint0_linear_106_218" x1="0" y1="8.47848" x2="18"
                                            y2="8.47848" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="#EE0979" />
                                            <stop offset="1" stop-color="#FF6A00" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

.tp-title-shape {
  position: absolute;
  bottom: -20px;
  left: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-title-shape {
    bottom: -15px;
  }
}
@media (max-width: 767px) {
  .tp-title-shape {
    bottom: -13px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-title-shape {
    bottom: -20px;
  }
}
.tp-title-shape svg {
  animation: section-animation 4s infinite;
}


.tp-btn-lg {
  display: inline-block;
  border-radius: 32px;
  height: 64px;
  line-height: 64px;
  padding: 0 50px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  transition: 0.4s;
  background: #FFF;
  color: var(--tp-common-black);
}
@media (max-width: 767px) {
  .tp-btn-lg {
    padding: 0 28px;
  }
}
.tp-btn-lg i {
  margin-left: 12px;
}
.tp-btn-lg.large {
  padding: 0 62px;
}
.tp-btn-lg::before {
  position: absolute;
  content: "";
  background: linear-gradient(93.19deg, #FF4D8D 15.64%, #507EFB 84.55%);
  border-radius: 32px;
  width: 98%;
  height: 98%;
  left: 6px;
  top: 6px;
  transition: 0.3s;
  z-index: -1;
}
.tp-btn-lg:hover {
  color: var(--tp-common-black);
}
.tp-btn-lg:hover::before {
  left: 1px;
  top: 0;
}


.fix {
  overflow: hidden;
}
    
    .z-index {
  position: relative;
  z-index: 2;
}

    .p-relative {
  position: relative;
}

.tp-cta__grey-bg {
  position: relative;
}
.tp-cta__grey-bg::after {
  content: "";
  bottom: 0;
  left: 0;
  height: 135px;
  width: 100%;
  position: absolute;
  background-color: grey;
  z-index: -1;
}
.tp-cta__bg {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 29px;
  padding-top: 65px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .tp-cta__bg {
    background-position: right;
  }
}
.tp-cta__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-cta__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .tp-cta__title {
    font-size: 32px;
  }
  .tp-cta__title br {
    display: none;
  }
}
.tp-cta__content {
  position: relative;
  z-index: 11;
}
.tp-cta__thumb {
  position: absolute;
  bottom: 0;
  right: -25px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta__thumb {
    right: -50px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta__thumb img {
    max-width: 90%;
  }
}

.tp-cta-4__bg {
  background: linear-gradient(148deg, #4951FF 0%, #A54AF5 55.19%, #FF2F7A 100%);
  padding-top: 125px;
  padding-bottom: 145px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-cta-4__bg {
    padding: 90px 0;
  }
}
.tp-cta-4__shape-1 {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-cta-4__shape-1 {
    left: -8%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta-4__shape-1 {
    left: -16%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-1 {
    left: -10%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-1 img {
    max-width: 60%;
  }
}
.tp-cta-4__shape-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-cta-4__shape-2 {
    right: -8%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta-4__shape-2 {
    right: -15%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-2 img {
    max-width: 90%;
  }
}
.tp-cta-4__shape-3 {
  position: absolute;
  bottom: 34%;
  left: 30%;
  animation: tptranslateX2 4s infinite alternate;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-3 img {
    max-width: 50%;
  }
}
.tp-cta-4__shape-4 {
  position: absolute;
  bottom: 22%;
  left: 29%;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-4 img {
    max-width: 70%;
  }
}
.tp-cta-4__shape-5 {
  position: absolute;
  bottom: -37px;
  left: 0;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .tp-cta-4__shape-5 {
    bottom: -29px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-cta-4__shape-5 {
    bottom: -24px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta-4__shape-5 {
    bottom: -21px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-cta-4__shape-5 {
    bottom: -18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-cta-4__shape-5 {
    bottom: -14px;
  }
}
.tp-cta-4__title {
  color: white;
  font-size: 55px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .tp-cta-4__title {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-cta-4__title {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-cta-4__title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .tp-cta-4__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-cta-4__title {
    font-size: 35px;
  }
}
.tp-cta-4__content {
  position: relative;
  z-index: 11;
}
.tp-cta-4__shape-6 {
  position: absolute;
  top: 0;
  right: 6%;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .tp-cta-4__shape-6 {
    right: 2%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .tp-cta-4__shape-6 {
    right: 1%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta-4__shape-6 {
    right: -10%;
    top: 15%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-cta-4__shape-6 img {
    max-width: 70%;
  }
}

</style>