/* --------Font--------------- */
/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-300d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-regular - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-regulard41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  
  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-500d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-500italic - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../../assets/fonts/poppins-v20-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-500italicd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-600d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-700d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-800 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../assets/fonts/poppins-v20-latin-800d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
  }

/* -----------Css-variable------ */

:root {
    --primary-100:#26A69A;
    --primary-200:#408d86;
    --primary-300:#cdfaf6;
    --accent-100:#80CBC4;
    --accent-200:#43A49B;
    --text-100:#263339;
    --text-200:#728f9e;
    --text-300:#ffffff;
    --bg-100:#E0F2F1;
    --bg-200:#D0EBEA;
    --bg-300:#FFFFFF;
      
}



/* ------Common-Css------------- */

html{scroll-behavior:smooth}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Poppins', sans-serif;
   /* / color: var(--body-text-purple); */
    /* background-color: var(--bg-300); */
}

.page_wrapper {
    width: 100%;
    overflow-x: hidden;
}



ul,
li {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

button:focus,
.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}


  .diva{
    /* border:1px solid rgb(214, 214, 214); */
    background-color: var(--bg-200);
    border-radius: 5px;
    margin-right: 4px;
    align-items: center;
 
  }

  .diva::before{
    content: "";
    height: 2px;
    width:100%;
    background-color: var(--accent-200);
    position: absolute;
   left:35%;
}


.diva p{
    color: black;

}

.diva .tab_title{
    color: rgb(2, 112, 79);
    font-size: 22px;
    justify-self: center;
    margin: auto;
    font-weight: 600;
}

.activebtn{
  background-color: var(--primary-200);
  color:white;
}

.activebtn p{
    color:white;
}

.activebtn .tab_title{
    color: white
}

.activebtn::before{
    content: "";
    height: 10px;
    width:30%;
    background-color: rgb(255, 251, 0);
    position: absolute;
/* transition:cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s} */}



.tabs-main-section{
    /* background-color: #2c3f4b; */
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}
