.main{
    /* background-color: rgb(203, 211, 214); */
    padding:20px
}
.header{
    padding:25px;
    margin-top:0px;
    /* background-color: green; */
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.header h1{
    /* background: linear-gradient(to right, #499df1 0%, #227bee 100%); */
    color:black;
    font-size: 53px;
    font-weight: 900;
}

body.dark .header h1{
    color: var(--primary-300)
}


.header p{
    color:black;
    font-weight: 100;
}

body.dark .header p{
    color: white;
}

.button_selectors{
    display: block;
    margin-top:10px;
    /* background-color: red; */
    padding: 2px;
}



.tab_card{
    margin-top: 5px;
    padding:10px 20px 10px;
    /* background-color: rgb(23, 43, 56); */
    border-radius: 20px;
    margin:6px;
    color:black;
}

/* .tab_card::before{
    content: "";
    height: 10px;
    width:30%;
    background-color: red;
    position: absolute;
} */

.button_selectors h2{
    font-size: 19px;
    text-align: left;
    color:#ffffff
}
.button_selectors .diva::before{
    /* content: "";
    height: 10px;
    width:30%;
    background-color: red; */
    /* position: absolute; */
}

.button_selectors p{
    font-size: 14px;
    text-align: left;
    font-weight: 1;
}

.content{
    background-color: #d63232;
    padding: 10px;
    /* margin-top:10px; */
    border-radius: 20px;
}

.content img{
    /* width: 70% */
    padding: 2px;
    /* border: 1px solid red; */
}

.hero-header{
    font-size: 50px;
    /* background-color: red; */
    color: black;

}

.tab_datasets{
    background-color:rgb(238, 238, 238);
    border-radius: 20px;
padding:40px 30px 100px 40px;
justify-content: center;
a
}

.tab_datasets p{
    font-size: 16px;
    font-weight: lighter;
}