<div class="container mt-5">
    <div class="row card-container">

        <!-- Card 1 -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="https://assets-global.website-files.com/6214efb2d4b5d94158f2ff03/623c7484f8cdad4df3981fd5_icon-spreadsheet-orange.svg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5>Short Title</h5>
                    <p class="card-text">Description for Card 2. This can include additional information.</p>
                    <h6>Integretions </h6>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="https://assets-global.website-files.com/6214efb2d4b5d94158f2ff03/623c7485d323b819838c651d_icon-scale-orange.svg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5>Short Title</h5>
                    <p class="card-text">Description for Card 2. This can include additional information.</p>
                    <h6>Integretions </h6>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="https://assets-global.website-files.com/6214efb2d4b5d94158f2ff03/635a4c1e04fcf67c29b64b75_video-icon-orange.png" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5>Short Title</h5>
                    <p class="card-text">Description for Card 2. This can include additional information.</p>
                    <h6>Integretions </h6>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="https://assets-global.website-files.com/6214efb2d4b5d94158f2ff03/623c748566ae860abfaa3f46_icon-forms-orange.svg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5>Short Title</h5>
                    <p class="card-text">Description for Card 2. This can include additional information.</p>
                    <h6>Integretions </h6>
                </div>
            </div>
        </div>

    </div>
</div>


<style>

    .card-container{
        margin: auto;
        justify-content: center;
        text-align: center;
        /* background-color: red; */
        margin-left: 10%;
    }

    .card{
        text-align: center;
    }
    .card .card-text{
        font-size: 13px;
        font-weight: 300;
    }

    .card img{
        width: 20%;
        margin: auto;
        background-color: rgb(255, 220, 220);
        padding: 13px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .card h6{
        color: brown;
    }

    body.dark .card{
        background-color: #272727;

    }

    body.dark .card-text{
      color: white
        
    }

    
    body.dark h5{
      color: white
        
    }

    body.dark .card  h6{
      color: var(--primary-200)
        
    }
</style>