---
import { useState, useEffect } from 'react';

---

<div class="section-full site-bg-light-purple twm-for-employee-4">
    <div class="container">

        <div class="section-content">
            <div class="twm-for-employee-content">
                <div class="row">

                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="twm-explore-content-outer2">
                            <div class="twm-explore-top-section">
                                
                                <!-- TITLE START-->
                                <div class="section-head left wt-small-separator-outer">
                                    <div class="wt-small-separator site-text-primary">
                                        <div>About </div>                                
                                    </div>
                                    <h2>We help you connect with the organizer</h2>
                                    <p>Get paid easily and security. Use our resources to become independent and showcase your professional skills.</p>
                                    
                                </div>
                                <!-- TITLE END-->
                                <div class="twm-read-more">
                                    <a href="about-1.html" class="site-button">Read More</a>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="twm-explore-right-section">
                            <div class="twm-media">
                                <div class="twm-bg-circle"><img src="../src/assets/images/heros/bg-circle.png" alt=""></div>
                                <div class="twm-employee-pic"><img src="../src/assets/images/heros/employee.png" alt=""></div>
                                <div class="twm-shot-pic1  anm" data-speed-x="-4" data-speed-scale="-25"><img src="../src/assets/images/heros/sq-1.png" alt=""></div>
                                <div class="twm-shot-pic2 anm" data-wow-delay="1000ms" data-speed-x="2" data-speed-y="2"><img src="../src/assets/images/heros/triangle.png" alt=""></div>
                                <div class="twm-shot-pic3  anm" data-speed-x="-4" data-speed-scale="-25""><img src="../src/assets/images/heros/circle.png" alt=""></div>
                            </div>

                                <!--block 1-->
                                <div class="counter-outer-two one anm" data-speed-y="-2" data-speed-scale="15" data-speed-opacity="1">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-yellow-2">
                                            <span class="counter">5</span>M+</div>
                                        <p class="icon-content-info">Million daily active users</p>
                                    </div>
                                </div>

                                <!--block 2-->
                                <div class="counter-outer-two two anm" data-speed-y="2" data-speed-scale="15" data-speed-opacity="5">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-green">
                                            <span class="counter">9</span>K+</div>
                                        <p class="icon-content-info">Open job positions</p>
                                    </div>
                                </div>
                                
                                <!--block 3-->
                                <div class="counter-outer-two three anm" data-speed-x="-4" data-speed-scale="-25">
                                    <div class="icon-content">
                                        <div class="tw-count-number text-clr-pink">
                                            <span class="counter" id="count">0</span>M+</div>
                                        <p class="icon-content-info">Million stories shared</p>
                                    </div>
                                </div>
                                
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>


    <script>
         let count = 0;
  let intervalId;

  window.onload = function() {
    intervalId = setInterval(() => {
      count++;
      document.getElementById('count').textContent = count;
      if (count === 200) {
        clearInterval(intervalId);
      }
    }, 10);
  };
</script>

In this examp
      </script>


    <style>

.twm-for-employee-4 {
  max-width: 1560px;
  margin: 120px auto;
  border-radius: 80px;
  padding: 120px 125px 0px 125px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .twm-for-employee-4 {
    padding: 40px 30px;
    margin: 40px;
  }
}
@media (max-width: 991px) {
  .twm-for-employee-4 {
    margin: 40px 15px;
  }
}
.twm-for-employee-4 .twm-for-employee-content .row {
  display: flex;
  align-items: center;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-top-section {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .twm-for-employee-4 .twm-for-employee-content .twm-explore-top-section {
    margin-right: 0px;
  }
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section {
  position: relative;
  z-index: 1;
  height: 100%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media {
  text-align: center;
  position: relative;
  width: 100%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media img {
  width: 100%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-employee-pic {
  position: relative;
  z-index: 1;
  width: 61.6%;
  left: 50%;
  transform: translateX(-50%);
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-bg-circle {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  width: 70.5%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic1,
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic2,
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic3 {
  position: absolute;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic1 {
  top: 1%;
  right: 15%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic2 {
  top: 45%;
  left: 10%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .twm-media .twm-shot-pic3 {
  bottom: 35%;
  right: 10%;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two {
  position: absolute;
  background-color: #fff;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two .tw-count-number {
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two .counter {
  font-size: 46px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two .icon-content-info {
  color: #17171d;
  margin-bottom: 0px;
  font-size: 16px;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.one {
  top: 5%;
  left: 5%;
  z-index: 1;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.two {
  top: 35%;
  right: 0%;
  z-index: 2;
}
.twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.three {
  bottom: 30%;
  left: 0%;
  z-index: 2;
}
@media (max-width: 767px) {
  .twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two {
    position: inherit;
    width: 100%;
  }
  .twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.one, .twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.two, .twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.three {
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
  }
  .twm-for-employee-4 .twm-for-employee-content .twm-explore-right-section .counter-outer-two.three {
    margin-bottom: 0px;
  }
}



    </style>
