---
import Typed from "typed.js"
---

<script>
  import Typed from 'typed.js';
  
  const typed = new Typed('#element', {
    strings: ['SAT success.', 'Career success.', 'CIE success'],
    typeSpeed: 200,
    loopCount: Infinity,
    startDelay: 0,
    backDelay: 100,
  });
  
  </script>


<section class="hero hero-style-three hero__height pos-rel">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero__content">
                    <h1 class="title mb-35">
                      <!-- Unlock Your Path to Success by Empowering African Students in their University Journey -->
                        <span class="wow fadeInUp-2" data-wow-delay="100ms" data-wow-duration=".5s">Your Path to</span>
                        <span class="wow fadeInUp-2" data-wow-delay="200ms" data-wow-duration=".5s"><span class="shape gradient-header">University</span> and</span> </br>
                        <span class="wow fadeInUp-2" id="element" data-wow-delay="300ms" data-wow-duration=".5s"></span>
                    </h1>
                    <p class="wow fadeInUp-2 mb-45" data-wow-delay="400ms" data-wow-duration=".5s">Embark on a transformative educational journey with our comprehensive platform designed exclusively for African students.</p>
                    <div class="btns wow fadeInUp-2"  data-wow-delay="500ms" data-wow-duration=".5s">
                        <a class="thm-btn thm-btn--gradient" href="#!">Get Started Free</a>
                        <a class="thm-btn thm-btn--outline popup-video" href="https://www.youtube.com/watch?v=cRXm1p-CNyk"><i class="fas fa-play"></i>Get Started Free</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero__img hero__img--shape">
                    <img src="../../assets/images/heros/hero_img.png" alt="">
                  <div class="hero__img-shape">
                    <div class="shape shape--1 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration=".7s"><img src="../../assets/icon/hs_01.png" alt="">Grammar Checking</div>
                    <div class="shape shape--2 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration=".7s"><img src="../../assets/icon/hs_02.png" alt="">Rephrase Suggestions</div>
                    <div class="shape shape--3 wow fadeInRight" data-wow-delay="200ms" data-wow-duration=".7s"><img src="../../assets/icon/hs_03.png" alt="">And More ...</div>
                    <div class="shape shape--4 wow fadeInRight" data-wow-delay="300ms" data-wow-duration=".7s"><img src="../../assets/icon/hs_04.png" alt="">Style Improvement</div>
                    <div class="shape shape--5 wow fadeInRight" data-wow-delay="400ms" data-wow-duration=".7s"><img src="../../assets/icon/hs_05.png" alt="">Live Trainings Events</div>
                  </div>
                  <div class="hero__layer-shape">
                    <div class="shape shape--1"><img src="../src/assets/icon/hs_06.png" alt=""></div>
                    <div class="shape shape--2"><img src="../src/assets/icon/hs_07.png" alt=""></div>
                    <div class="shape shape--3"><img src="../src/assets/icon/hs_08.png" alt=""></div>
                    <div class="shape shape--4"><img src="../src/assets/icon/hs_09.png" alt=""></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__shape">
        <img src="../src/assets/shape/h_shape.png" alt="">
    </div>
    <div class="hero__shape-icon">
        <img src="../src/assets/shape/h_shape2.png" alt="">
    </div>
</section>


<style>
  

.hero {
  display: flex;
  align-items: center;
  bottom: -12px; }
  .hero__height {
    min-height: 740px; }
    @media (max-width: 1199px) {
      .hero__height {
        min-height: 650px; } }
  .hero__form {
    max-width: 632px;
    position: relative;
    margin-bottom: 40px;
    position: relative;
    margin-left: 3px; }
    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
      .hero__form {
        max-width: 550px; } }
    @media (max-width: 1199px) {
      .hero__form {
        max-width: 500px; } }
    .hero__form::before {
      position: absolute;
      top: 0;
      left: -3px;
      width: 18px;
      height: 100%;
      content: "";
      background-image: linear-gradient(37deg, var(cornflowerblue) 0%, var(green) 100%);
      z-index: -1;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }
      @media (max-width: 767px) {
        .hero__form::before {
          display: none; } }
    .hero__form input {
      height: 70px;
      background-color: #fff;
      fill: #FFF;
      filter: drop-shadow(0px 12.5215520859px 10.017241478px rgba(0, 0, 0, 0.04)) drop-shadow(0px 22.336309433px 17.8690471649px rgba(0, 0, 0, 0.04)) drop-shadow(0px 41.7776107788px 33.422088623px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
      padding: 30px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
    .hero__form button {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 50px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 10px 50px; }
      @media (max-width: 767px) {
        .hero__form button {
          position: unset;
          width: 100%;
          margin-top: 10px; } }
  .hero__list {
    margin-top: -10px; }
    .hero__list li {
      font-size: 14px;
      color: #92969E;
      display: flex;
      align-items: center;
      margin-top: 10px; }
      .hero__list li:not(:last-child) {
        margin-right: 45px; }
        @media (max-width: 1199px) {
          .hero__list li:not(:last-child) {
            margin-right: 20px; } }
      .hero__list li i {
        width: 34px;
        height: 34px;
        font-size: 15px;
        color: #8B8F97;
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px; }
        .hero__list li i::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          background: linear-gradient(90deg, var(cornflowerblue) 0%, var(green) 100%);
          opacity: 0.10000000149011612;
          z-index: -1; }
  .hero__content {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
    @media (max-width: 991px) {
      .hero__content {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }
    .hero__content .title {
      font-size: 65px;
      line-height: 1.2; }
      @media (max-width: 1199px) {
        .hero__content .title {
          font-size: 50px; } }
      @media (max-width: 767px) {
        .hero__content .title {
          font-size: 32px; } }
      .hero__content .title span {
        display: inline-block; }
      .hero__content .title .shape {
        position: relative; }
        .hero__content .title .shape::before {
          background-image: url(../../assets/shape/word_shape.png);
          position: absolute;
          content: "";
          width: 100%;
          height: 30px;
          left: 9px;
          bottom: 2px;
          background-repeat: no-repeat;
          z-index: -1;
          background-size: 96%; }
          @media (max-width: 1199px) {
            .hero__content .title .shape::before {
              bottom: -5px; } }
          @media (max-width: 767px) {
            .hero__content .title .shape::before {
              bottom: -14px; } }
    .hero__content p {
      font-size: 20px;
      line-height: 32px;
      color: #575D6B; }
    .hero__content.style-2 {
      -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
      transform: translateY(45px);
      max-width: 700px; }
      @media (max-width: 991px) {
        .hero__content.style-2 {
          -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          margin-bottom: 40px; } }
      .hero__content.style-2 .title {
        font-size: 55px;
        margin-bottom: 30px; }
        @media only screen and (min-width: 1200px) and (max-width: 1500px) {
          .hero__content.style-2 .title {
            font-size: 50px; } }
        @media (max-width: 1199px) {
          .hero__content.style-2 .title {
            font-size: 43px;
            line-height: 1.3; } }
        @media (max-width: 767px) {
          .hero__content.style-2 .title {
            font-size: 30px; } }
        .hero__content.style-2 .title .shape::before {
          bottom: -6px;
          background-size: 92%; }
          @media (max-width: 767px) {
            .hero__content.style-2 .title .shape::before {
              bottom: -17px; } }
      .hero__content.style-2 p {
        margin-bottom: 30px; }
    .hero__content.style-3 .title {
      font-size: 65px;
      margin-bottom: 20px;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(0deg, #2a2355 0%, white 70%); }
      @media (max-width: 991px) {
        .hero__content.style-3 .title {
          font-size: 45px; } }
      @media (max-width: 767px) {
        .hero__content.style-3 .title {
          font-size: 32px; } }
    .hero__content.style-3 .xb-title--typewriter .xb-item--text {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(0deg, #2a2355 0%, #e7e6ec 100%); }
    .hero__content.style-3 p {
      color: #8F9BB7;
      font-size: 18px;
      line-height: 28px;
      border-radius: 36px; }
  .hero__shape {
    position: absolute;
    bottom: -30%;
    left: 0;
    z-index: -1; }


  .hero__shape-icon {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1; }
  .hero__img {
    right: -20%;
    margin-left: -12%; }
    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
      .hero__img {
        right: -5%; } }
    @media (max-width: 991px) {
      .hero__img {
        right: -5%;
        margin-left: 0;
        margin-top: 50px; } }
    .hero__img--shape {
      position: relative;
      z-index: 1; }
      .hero__img--shape::before {
        position: absolute;
        top: 8%;
        left: 55px;
        width: 629px;
        height: 629px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        content: "";
        z-index: -1;
        background: linear-gradient(90deg, #99E9A5 -1.64%, #3847EF 99.09%);
        opacity: 0.4; }
  .hero__img-shape .shape {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    font-size: 15px;
    color: black;
    padding: 7px 30px 7px 17px;
    min-height: 50px;
    display: flex;
    align-items: center; }
    @media (max-width: 1199px) {
      .hero__img-shape .shape {
        font-size: 14px;
        padding: 7px 19px 7px 13px; }
        .hero__img-shape .shape img {
          max-width: 20px;
          margin-right: 12px; } }
    @media (max-width: 991px) {
      .hero__img-shape .shape {
        min-height: 45px; } }
    @media (max-width: 767px) {
      .hero__img-shape .shape {
        min-height: auto; } }
    .hero__img-shape .shape img {
      margin-right: 18px; }
    .hero__img-shape .shape--1 {
      top: 18%;
      left: 1%; }
      @media (max-width: 767px) {
        .hero__img-shape .shape--1 {
          top: 3%;
          left: -13%; } }
    .hero__img-shape .shape--2 {
      bottom: 29%;
      left: -8%; }
    .hero__img-shape .shape--3 {
      top: 21%;
      right: -3px; }
      @media (max-width: 1199px) {
        .hero__img-shape .shape--3 {
          top: 29%;
          right: 70px; } }
      @media (max-width: 767px) {
        .hero__img-shape .shape--3 {
          top: 27%;
          right: 0; } }
    .hero__img-shape .shape--4 {
      top: 45%;
      right: 0; }
      @media (max-width: 1199px) {
        .hero__img-shape .shape--4 {
          top: 53%;
          right: 15%; } }
      @media (max-width: 767px) {
        .hero__img-shape .shape--4 {
          top: 43%;
          right: 8%; } }
    .hero__img-shape .shape--5 {
      right: 10%;
      bottom: 10%; }
  .hero__layer-shape .shape {
    position: absolute;
    z-index: -1; }
    .hero__layer-shape .shape--1 {
      top: 23%;
      left: 19%; }
    .hero__layer-shape .shape--2 {
      top: 24%;
      right: 20%; }
    .hero__layer-shape .shape--3 {
      top: 31%;
      right: 8%; }
    .hero__layer-shape .shape--4 {
      right: 18%;
      bottom: 27%; }
  .hero__img-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/shape/hero_shape.png"), linear-gradient(47deg, #99E9A5 0%, #3847EF 100%);
    z-index: 1; }
    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
      .hero__img-bg {
        width: 43%; } }
    @media (max-width: 1199px) {
      .hero__img-bg {
        width: 41%; } }
    @media (max-width: 991px) {
      .hero__img-bg {
        position: unset;
        width: 100%; } }
  .hero__image {
    -webkit-transform: translateY(57px);
    -ms-transform: translateY(57px);
    transform: translateY(57px); }
    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
      .hero__image {
        max-width: 350px; } }
    @media (max-width: 1199px) {
      .hero__image {
        max-width: 300px; } }
    @media (max-width: 991px) {
      .hero__image {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
        padding: 50px 0; } }
    @media (max-width: 767px) {
      .hero__image {
        max-width: 230px; } }
  .hero__chat-list .chat-item {
    position: absolute; }
    .hero__chat-list .chat-item--1 {
      top: 17%;
      left: -26%; }
      @media (max-width: 1199px) {
        .hero__chat-list .chat-item--1 {
          top: 15%;
          left: -21%;
          max-width: 212px; } }
    .hero__chat-list .chat-item--2 {
      top: 39%;
      right: -24%; }
      @media (max-width: 1199px) {
        .hero__chat-list .chat-item--2 {
          top: 36%;
          max-width: 230px; } }
    .hero__chat-list .chat-item--3 {
      bottom: 24%;
      left: -29%; }
      @media (max-width: 1199px) {
        .hero__chat-list .chat-item--3 {
          left: -23%;
          max-width: 223px; } }
    .hero__chat-list .chat-item--4 {
      right: 0%;
      bottom: 5%; }
      @media (max-width: 1199px) {
        .hero__chat-list .chat-item--4 {
          max-width: 145px; } }
  .hero__shape2 .shape {
    position: absolute;
    z-index: -1; }
    .hero__shape2 .shape--1 {
      top: 23%;
      left: -5%; }
      @media only screen and (min-width: 1200px) and (max-width: 1500px) {
        .hero__shape2 .shape--1 {
          display: none; } }
      @media (max-width: 1199px) {
        .hero__shape2 .shape--1 {
          display: none; } }
    .hero__shape2 .shape--2 {
      left: 0;
      bottom: -17%; }
      @media (max-width: 1199px) {
        .hero__shape2 .shape--2 {
          bottom: -24%; } }
    .hero__shape2 .shape--3 {
      left: 56%;
      bottom: 5%; }

.hero-style-one {
  min-height: 900px;
  bottom: 0; }
  @media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .hero-style-one {
      min-height: 800px; } }
  @media (max-width: 1199px) {
    .hero-style-one {
      min-height: 780px; } }
  @media (max-width: 991px) {
    .hero-style-one {
      padding-top: 170px; } }
  @media (max-width: 767px) {
    .hero-style-one {
      padding-top: 150px; } }

.hero-style-two {
  padding-top: 190px; }
  @media (max-width: 991px) {
    .hero-style-two {
      padding-top: 150px; } }
  .hero-style-two .hero-bg {
    background-position: bottom center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    z-index: -1; }
    @media (max-width: 767px) {
      .hero-style-two .hero-bg {
        background-size: 100%; } }

@media (max-width: 991px) {
  .hero-style-three {
    padding-top: 50px; } }

.hero-img {
  position: absolute;
  top: 0;
  right: 5%; }

@media (max-width: 767px) {
  .crm-hero__shape {
    display: none; } }
.crm-hero__shape .shape {
  position: absolute;
  z-index: -1; }
  .crm-hero__shape .shape--1 {
    top: 47%;
    left: 52px; }
  .crm-hero__shape .shape--2 {
    top: 10%;
    left: -26%; }
  .crm-hero__shape .shape--3 {
    right: 80px;
    top: 44%; }
  .crm-hero__shape .shape--4 {
    bottom: 3%;
    right: -24%; }

@keyframes xbKeywordRotatingIn {
  from {
    transform: translateY(70%) rotateX(-100deg);
    opacity: 0; }
  to {
    transform: translateY(0) rotateX(0);
    opacity: 1; } }
@keyframes xbKeywordRotatingOut {
  from {
    transform: translateY(0) rotateX(0);
    opacity: 1; }
  to {
    transform: translateY(-70%) rotateX(100deg);
    opacity: 0; } }
.xb-title--typewriter {
  display: inline-flex !important;
  white-space: nowrap;
  position: relative;
  z-index: 99; }

.xb-title--typewriter .xb-item--text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.xb-title--typewriter .xb-item--text:not(.is-active) {
  animation: xbKeywordRotatingOut 0.8s cubic-bezier(0.86, 0, 0.07, 1) both; }

.xb-title--typewriter .xb-item--text.is-active {
  position: relative;
  opacity: 1;
  animation: xbKeywordRotatingIn 0.8s cubic-bezier(0.86, 0, 0.07, 1) both; }

  .thm-btn {
  transition: all 0.2s cubic-bezier(0.68, 0.01, 0.58, 0.75) !important;
  font-size: 16px;
  font-weight: 500;
  text-transform: None;
  color: white;
  border-style: none;
  padding: 21px 50px;
  align-self: center;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  line-height: 1.1;
  letter-spacing: -.3px;
  -webkit-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms; }
  .thm-btn--gradient {
    background-size: 200%,1px;
    background-image: -moz-linear-gradient(to right, cornflowerblue 0%, green) 51%, cornflowerblue 100%);
    background-image: -webkit-linear-gradient(to right, cornflowerblue 0%, green 51%, green 100%);
    background-image: -ms-linear-gradient(to right, cornflowerblue 0%, green 51%, green 100%);
    background-image: linear-gradient(to right, cornflowerblue 0%, green 51%, cornflowerblue 100%); }

    .gradient-header {
    background-size: 200%,1px;
    background-image: -moz-linear-gradient(to right, cornflowerblue 0%, green) 51%, cornflowerblue 100%);
    background-image: -webkit-linear-gradient(to right, cornflowerblue 0%, green 51%, green 100%);
    background-image: -ms-linear-gradient(to right, cornflowerblue 0%, green 51%, green 100%);
    background-image: linear-gradient(to right, cornflowerblue 0%, green 51%, cornflowerblue 100%); }


    .thm-btn--gradient:hover {
      color: whitesmoke;
      background-position: 100% 0; }
    .thm-btn--gradient.style-2 {
      background-image: -moz-linear-gradient(to right, var(--gradient-color-from-2) 0%, var(--gradient-color-to-2) 51%, var(--gradient-color-from-2) 100%);
      background-image: -webkit-linear-gradient(to right, var(--gradient-color-from-2) 0%, var(--gradient-color-to-2) 51%, var(--gradient-color-from-2) 100%);
      background-image: -ms-linear-gradient(to right, var(--gradient-color-from-2) 0%, var(--gradient-color-to-2) 51%, var(--gradient-color-from-2) 100%);
      background-image: linear-gradient(to right, var(--gradient-color-from-2) 0%, var(--gradient-color-to-2) 51%, var(--gradient-color-from-2) 100%);
      padding: 16px 41px; }
      
</style>