<section class="digi-why pt-120">
    <div class="container">
        <div class="row align-content-center justify-content-between">
            <div class="col-lg-6 col-md-12">
                <div class="digi-why-left">
                    <img src="../../assets/img/d-girl-w-p.png" class="img-fluid" alt="Girl" />
                    <ul class="list-unstyled d-none d-md-block">
                        <li>
                            <img src="../../assets/img/dg-shape-1.png" class="shadow img-fluid" alt="shape" />
                        </li>
                        <li>
                            <img src="../../assets/img/dg-shape-2.png" class="shadow img-fluid" alt="shape" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="digi-why-right pt-4">
                    <div>
                        <span class="span-arrow">Why Choose Us</span>
                        <img src="../../assets/img/arro-right.svg" class="img-fluid" alt="arrow" />
                    </div>
                    <h2 class="hero-header">Why Working With Us?</h2>
                    <p>
                        Compellingly orchestrate resource sucking leadership skills
                        without collaborative technology. Holisticly pontificate resource
                        maximizing imperatives after world-class Globally communicate
                        effective schemas without low-risk materials. Interactively
                        transition tactical fabricate corporate meta-services .
                    </p>
                    <div>
                        <ul class="list-unstyled mb-0 mt-5">
                            <li class="d-flex p-3 align-items-center bg-white">
                                <div class="me-3">
                                    <img src="../../assets/img/icons/dw-i-1.svg" alt="icon" />
                                </div>
                                <div class="p-3">
                                    <h4 class="mb-0">250+</h4>
                                    <span>Happy Customer</span>
                                </div>
                            </li>
                            <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                <div class="me-3">
                                    <img src="../../assets/img/icons/dw-i-2.svg" class="img-fluid" alt="icon" />
                                </div>
                                <div class="p-3" >
                                    <h4 class="mb-0">540+</h4>
                                    <span>Succesfull Project</span>
                                </div>
                            </li>
                            <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                <div class="me-3">
                                    <img src="../../assets/img/icons/dw-i-3.svg" class="img-fluid" alt="icon" />
                                </div>
                                <div class="p-3" >
                                    <h4 class="mb-0">80+</h4>
                                    <span> Team Member</span>
                                </div>
                            </li>
                            <li class="pe-4 d-flex p-3 align-items-center bg-white">
                                <div class="me-3">
                                    <img src="../../assets/img/icons/dw-i-4.svg" class="img-fluid" alt="icon" />
                                </div>
                                <div class="p-3" >
                                    <h4 class="mb-0">99%</h4>
                                    <span>Customer Satisfaction</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

.digi-why-left{position:relative}.digi-why-left ul li{position:absolute}.digi-why-left ul li:nth-child(1){top:40px;left:60px}.digi-why-left ul li:nth-child(2){right:0;bottom:-10px}.digi-why-right ul{display:grid;grid-template-columns:repeat(2, 1fr);gap:20px}@media(min-width: 320px)and (max-width: 575px){.digi-why-right ul{grid-template-columns:repeat(1, 1fr)}}.digi-why-right ul li{-webkit-box-shadow:14px 14px 56px rgba(33,38,106,.1);box-shadow:14px 14px 56px rgba(33,38,106,.1);border-radius:4px} 


</style>