---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro"
import Hero1 from "../components/mainHero.astro"
 import Partners from "../components/partners.astro"
 import Banner from "../components/banner.astro"
 import Banner2 from "../components/banner/banner.astro"
 import Powerful from "../components/powerful.astro"
 import Why from "../components/why.astro"
 import Tabs2 from "../components/tabs-2.jsx"
 import Footer from "../components/footer.astro"
 import InfoHero from "../components/hero/infohero.astro"
 import InfoHero2 from "../components/hero/infohero2.astro"
 import Cards from "../components/cards/cards.astro"
 import Cards2 from "../components/cards/cards2.astro"

---


<div>
<h1>

	<Layout>
		<div class="container">
			<Navigation/>
			<Hero1/>
			<Partners/>
			<Banner/>
			<Why/>
			<InfoHero/>
			<Cards/>
			<InfoHero2/>
			<Cards2/>
			<Tabs2 client:load/>
			<Banner2/>
			<Footer/>
			
		</div>


	</Layout>
	
</h1>
</div>
	


<style>


</style>
