---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation2 from "../components/v1/navigation/navigation2.astro";
import Hero1 from "../components/v1/heros/mainHero.astro"
import Courasel from "../components/v1/courasel.jsx"
import Why from "../components/v1/heros/why.astro"
import Testimonial from "../components/v1/testimonial/testimonial.astro"
import Features2 from "../components/v1/features/features2.astro";
import Banner1 from "../components/v1/banners/banner.astro";
import Banner2 from "../components/v1/banners/banner2.astro";
import Solution from "../components/v1/features/solution.astro";
import Powerful from "../components/v1/banners/powerful.astro";
import Tabs2 from "../components/v1/Tabs/tabs-2.jsx"
import Cta from "../components/v1/cta/cta.astro";
import Footer from "../components/v1/footer.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
<Navigation2/>
<Hero1/>
<!-- <Courasel client:only="react" /> -->
<Why/>
<Testimonial/>
<Features2/>
<Banner1/>
<Banner2/>
<Solution/>
<Powerful/>
<Tabs2 />
<Cta/>
<Footer/>



			
		</div>
		
	</main>
</Layout>

<style>
	main {
	
	}

</style>
