<section class="mt-5">

    <div class="container text-center">
        <h1>That said, <span class="gradient1">you can manually</span> manage the lifecycle  </h1>

        <p>you import a script,it gets added to the global scope, and there's no built-in way to limit its effect to a single component.</p>
    </div>

    <div class="banner_buttons text-center ">
        <button class="solid">Learn more</button>
        <button class="outline">Join wait list  <i class='bx bxs-zap'></i></button>
    </div>

    <div class="col-lg-9 text-center justify-content-center mt-4 image-holder">
        <img src="../../public/assets/images/banner/banner_holder.png" alt="" class="img-fluid">
    </div>
</section>

<style>


.image-holder img{
    margin: auto;
    margin-left: 30%;
    
}
    h1{
        font-size: 55px;
        font-weight: bold;
        padding: 10px;
        margin-top: 90px;
        
          /* * TEXT GRADIENT color: #ccfcdb; background-image: -webkit-linear-gradient(45deg, #ccfcdb 36%, #7cfa73 86%, #08fff3 95%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent; *
*/
    }
body.dark h1{
    color: var(--primary-300)
}


.gradient1{
   color: #38b08e; background-image: -webkit-linear-gradient(45deg, #38b08e 41%, #d2bbb1 19%, #82ffbc 30%, #312eff 50%, #312eff 50%, #312eff 50%, #6e8fcc 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;

}
    
    p{
        font-size: 16px;
        font-weight: 200;
    }

    body.dark p{
        color: white
    }

    .banner_buttons{
        padding: 10px;
        font-weight: bold;
    }

    .banner_buttons .solid{
        background-color: var(--primary-100);
        font-size: 20px;
        border-radius: 20px;
        padding: 17px 50px 17px;
        font-weight: bold;
        border: none;
        color:white

    }

    .banner_buttons .outline{
        background-color:transparent;
        
        font-size: 20px;
        border-radius: 20px;
        padding: 17px 50px 17px;
        border: 2px solid var(--accent-200);
        font-weight: bold;
        color: black;
        
    }

    body.dark  .banner_buttons .outline{
        color: var(--text-300);

    }

</style>

