
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <img class="footer-logo" src="../../../public/assets/v2/logos/2.png" alt="Logo" class="img-fluid">
                <p class=" footer-description mt-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                <ul class="footer-social-icons mt-3">
                    <li>
                        <a href="#" title="">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <!-- Facebook icon -->
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <!-- Twitter icon -->
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <!-- Instagram icon -->
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <!-- LinkedIn icon -->
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-2 footer-items">
                <p class=" font-semibold text-gray-400  footer-category-header">Company</p>
                <ul class="mt-3">
                    <li><a href="#" title="" class="text-base text-gray-600">About</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Features</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Works</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Career</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-3 footer-items">
                <p class="text-sm font-semibold text-gray-400 text-uppercase">Help</p>
                <ul class="mt-3">
                    <li><a href="#" title="" class="text-base text-gray-600">Customer Support</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Delivery Details</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Terms & Conditions</a></li>
                    <li><a href="#" title="" class="text-base text-gray-600">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-6 col-lg-4 newsletter">
                <p class="text-sm font-semibold text-gray-400 text-uppercase">Subscribe to newsletter</p>
                <form action="#" method="POST" class="mt-3">
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="text-center mt-5 copyright">
    <p class="text-sm text-gray-600">&copy; Copyright 2024, All Rights Reserved by UgforUg</p>
</footer>


<style>
    /* Custom styles for the footer */
    .footer {
        background-color: #f8f9fa;
        padding: 40px;
        color: #495057;
        margin-top: 20px;
        
    }

    body.dark .footer{
        background-color: #272727;
    }

    .footer-logo {
        width: 90%;
        /* height: 30px; */
        margin-bottom: 20px;
    }

    .footer-social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-social-icons li {
        display: inline-block;
        margin-right: 10px;
    }



    .footer-social-icons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #343a40;
        color: #fff;
        transition: background-color 0.3s;
    }

    .footer-social-icons a:hover {
        background-color: #007bff;
    }

    body.dark  .footer-description{
        color: white;
    }

    .footer-description{
        font-size: 14px;
        font-weight: 300;
    }

   

    .footer-items li{
        font-weight: 300;
        font-size: 15px;
        color: #272727;
        padding: 5px;
        text-align: center;
    }

    body.dark .footer-items li a{
        
        color: white;
  
    }

    .footer-items li a{
       text-decoration: none;
       color: rgb(52, 55, 56);
    }

    body.dark .footer-items p{
       color: white
    }


    .footer-items p{
        font-size: 23px;
        padding: 5px;
        text-align: center;
    }

    .newsletter p{
        font-size: 20px;
    }

    body.dark .newsletter p{
        color: white;
    }

    .newsletter input{
        border: none;
        border-radius: 20px;
        padding: 20px;
        font-size: 15px;
    }

    .newsletter button{
        border-radius: 20px;
        font-weight: 400;
       

    }

    .copyright p{
        font-size: 14px;
        font-weight: 200;
    }
</style>
