<section class="powerful_solution" data-aos="fade-in" data-aos-duration="1000">
      
    <div class="container">
      <div class="section_title" data-aos="fade-up" data-aos-duration="1000">
        <h2>Powerful solution for your business</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typese tting indus orem Ipsum has beenthe standard
          dummy text ever since.</p>
      </div>
      <div class="quality_lable" data-aos="fade-up" data-aos-duration="1000">
        <ul>
          <li>
            <p><i class="icofont-check-circled"></i>
              Highly customizable</p>
          </li>
          <li>
            <p><i class="icofont-check-circled"></i>
              Pixel perfect design</p>
          </li>
          <li>
            <p><i class="icofont-check-circled"></i>
              Worldwide support</p>
          </li>
        </ul>
      </div>
      <div class="counters_block" data-aos="fade-up" data-aos-duration="1000">
        <ul class="app_statstic" id="counter" data-aos="fade-in" data-aos-duration="1500">
          <li>
            <div class="text">
              <p><span class="counter-value" data-count="450">0</span><span>+</span></p>
              <p>Million of client logins monthly</p>
            </div>
          </li>
          <li>
            <div class="text">
              <p><span class="counter-value" data-count="120">0 </span><span>+</span></p>
              <p>Languages and countries</p>
            </div>
          </li>
          <li>
            <div class="text">
              <p><span class="counter-value" data-count="135">1500</span><span>+</span></p>
              <p>Percent yearly turnover increase</p>
            </div>
          </li>
          <li>
            <div class="text">
              <p><span class="counter-value" data-count="324">0</span><span>+</span></p>
              <p>Million active accounts</p>
            </div>
          </li>
        </ul>
      </div>
     
    </div>

    </section>


    <style>
        .powerful_solution {
  min-height: 1000px;
  position: relative;
  padding: 10px 0;
  margin:0 0 0 0;
  background: url(../../assets/images/backgrounds/business_vectore.png) top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.powerful_solution .container {
  position: relative;
}

.powerful_solution .bg_pattern img {
  width: 100%;
  position: absolute;
  top: 50%;
}

.powerful_solution .section_title {
  max-width: 680px;
  margin: 0 auto;
}

.powerful_solution .section_title h2 {
  /*color: var(--text-white);*/
}

.powerful_solution .quality_lable ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.powerful_solution .quality_lable ul li {
  padding: 5px 35px;
  border-radius: 100px;
  background-color: #ffffff;
  margin: 0 10px;
  font-weight: 600;
  transition: .4s all;
  cursor: context-menu;
}

.powerful_solution .quality_lable ul li p {
  margin: 0 0 0 5px;
  transition: .3s all;
  /* border: 1px solid black; */
  padding: 10px 20px 10px;
  border-radius:35px;
}

.powerful_solution .quality_lable ul li:hover {
  background-color: var(--bg-white);
  color: var(--purple);
}

.powerful_solution .counters_block {
  margin: 35px 0 50px 0;
}

.powerful_solution .counters_block ul {
  display: flex;
  justify-content: space-between;
}

.powerful_solution .counters_block ul li {
  text-align: center;
  max-width: 180px;
}

.powerful_solution .counters_block ul li p:first-child {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  min-height: 75px;
  color: #e764d1;
}

.powerful_solution .counters_block ul li p:last-child {
  font-weight: 600;
  line-height: 23px;
}
    </style>