<section class="solution_section">
    <div class="solution_inner">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500">
          <h2>Solution made for</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typese tting indus <br> orem Ipsum has beenthe
            standard dummy text ever since.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="solution_cards scard1" data-aos="fade-up" data-aos-duration="1500">
              <div class="icon">
                <img src="/../../assets/images/features/solution/soution_icon1.png" alt="image">
              </div>
              <div class="text">
                <h3>Analyze datas</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type is
                  setting indus ideas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="solution_cards scard2" data-aos="fade-up" data-aos-duration="1500">
              <div class="icon">
                <img src="/../../assets/images/features/solution/soution_icon2.png" alt="image">
              </div>
              <div class="text">
                <h3>Collaborate securely</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type is
                  setting indus ideas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="solution_cards scard3" data-aos="fade-up" data-aos-duration="1500">
              <div class="icon">
                <img src="/../../assets/images/features/solution/soution_icon3.png" alt="image">
              </div>
              <div class="text">
                <h3>Easy communication</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type is
                  setting indus ideas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    .solution_section {
  position: relative;
}

.solution_section .solution_inner {
  padding: 100px 0;
}

.solution_section .solution_cards {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-white);
  transition: .4s all;
  margin-top: 20px;

}

.solution_section .solution_cards.scard1 {
  background: rgb(255,240,244);
  background: linear-gradient(54deg, rgba(255,240,244,1) 0%, rgba(246,244,255,1) 100%);
}

.solution_section .solution_cards.scard2 {
  background: rgb(209,255,241);
  background: linear-gradient(54deg, rgba(209,255,241,1) 0%, rgba(246,244,255,1) 100%);
}

.solution_section .solution_cards.scard3 {
  background: rgb(255,242,219);
  background: linear-gradient(54deg, rgba(255,242,219,1) 0%, rgba(246,244,255,1) 100%);
}


.solution_section .solution_cards .icon {
  width: 61px;
}

.solution_section .solution_cards .icon img {
  max-width: 100%;
}

.solution_section .solution_cards .text {
  width: calc(100% - 75px);
  padding-top: 5px;
}

.solution_section .solution_cards .text p {
  margin-bottom: 0;
}

.solution_section .solution_cards h3 {
  margin-bottom: 10px;
  transition: .4s all;
}
  </style>