<section class="digi-why pt-120 mt-8">
    <div class="container">
        <div class="row align-content-center justify-content-between">
            <div class="col-lg-6 col-md-12">
                <div class="digi-why-left">
                    <img src="../../assets/img/d-girl-w-p.png" class="img-fluid" alt="Girl" />
                    <ul class="list-unstyled d-none d-md-block">
                        <li>
                            <img src="../../assets/img/dg-shape-1.png" class="shadow img-fluid" alt="shape" />
                        </li>
                        <li>
                            <img src="../../assets/img/dg-shape-2.png" class="shadow img-fluid" alt="shape" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="digi-why-right pt-4">
                    <div>
                        <span class="span-arrow">Why Choose Us</span>
                        <img src="../../assets/img/arro-right.svg" class="img-fluid" alt="arrow" />
                    </div>
                    <h2 class="hero-header">Why Working <span class="gradient1"> With Us? </span></h2>
                    <p class="desc">
                        Compellingly orchestrate resource sucking leadership skills
                        without collaborative technology. Holisticly pontificate resource
                        maximizing imperatives after world-class Globally communicate
                        effective schemas without low-risk materials. 
                    </p>
                    <div class="stats-1">
                       
                        <div class="container mt-5">
                            <div class="row">
                    
                                <!-- Card 1 -->
                                <div class="col-6 col-md-6 mb-4 ">
                                    <div class="card card1">

                                        <div class="row d-flex smaller-card box">

                                            <div class="col-lg-4 ">
                                                <img src="../../public/assets/images/features/communication.png" class="img-fluid" alt="Card Image"/>
                                            </div>
    
                                           
                                            <div class="card-body col-lg-8">
                                                <h5 class="card-title">500+</h5>
                                                <p class="card-text">World class Integrations</p>
                                            </div>


                                        </div>

                                       
                                    </div>
                                </div>
                    
                                <!-- Card 2 -->
                                
                    
                                <!-- Card 4 -->
                                <div class="col-6 col-md-6 mb-4 ">
                                    <div class="card card1">

                                        <div class="row d-flex smaller-card box">

                                            <div class="col-lg-4 ">
                                                <img src="../../public/assets/images/features/secure.png" class="img-fluid" alt="Card Image"/>
                                            </div>
    
                                           
                                            <div class="card-body col-lg-8">
                                                <h5 class="card-title">500+</h5>
                                                <p class="card-text">World class Integrations</p>
                                            </div>


                                        </div>

                                       
                                    </div>
                                </div>



                    
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

.digi-why-left{position:relative}.digi-why-left ul li{position:absolute}.digi-why-left ul li:nth-child(1){top:40px;left:60px}.digi-why-left ul li:nth-child(2){right:0;bottom:-10px}.digi-why-right ul{display:grid;grid-template-columns:repeat(2, 1fr);gap:20px}@media(min-width: 320px)and (max-width: 575px){.digi-why-right ul{grid-template-columns:repeat(1, 1fr)}}.digi-why-right ul li{-webkit-box-shadow:14px 14px 56px rgba(33,38,106,.1);box-shadow:14px 14px 56px rgba(33,38,106,.1);border-radius:4px} 
.digi-why-right p{
    font-size: 15px;
    font-weight: lighter;
}

.digi-why{
    margin-top: 100px;
}

.desc{
    font-size: 25px;
}

.gradient1{
   color: #38b08e; background-image: -webkit-linear-gradient(45deg, #38b08e 41%, #d2bbb1 19%, #82ffbc 30%, #312eff 50%, #312eff 50%, #312eff 50%, #6e8fcc 50%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;

}



.hero-header{
    font-size: 50px;
    font-weight: bold;
}

body.dark .hero-header{
    color: var(--primary-300);
}


body.dark .span-arrow{
    color: var(--accent-200);
}

 

.span-arrow{
font-size: 25px;
}

.stats-1 h4{
    font-size: 20px;
    font-weight: 900;
    color: cornflowerblue;
}

.stats-1 span{
    font-size: 25px;
font-weight: bold;
line-height: normal;}

.card-body{
  /* background-color: red; */
}



.card1 img{
    /* background-color: blueviolet; */
    margin: auto;
    /* padding: 20px; */
}
.smaller-card{
    padding: 1px 3px 1px;
    margin: auto;
    
}


.box:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-38deg, #5DE6DE 7%, #B58ECC 100% );
    transform: translate3d(-3px, 20px, 0) scale(0.92);
    filter: blur(34px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        


.smaller-card img{
    margin-top: 50%;
}

.card-body h5{
    font-weight: 800;
}


body.dark .desc{
    color: var(--text-300);
    font-weight: 100;
    font-size: 19px;
}

.desc{
    font-size: 20px;
}

body.dark .card{
    background-color: #353535;
    color: white
}
    
</style>