<section class="row_am why_we_section" data-aos="fade-in">
    <div class="why_inner">
      <div class="container">
        <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
          <h2><span>Why we are different</span> from others!</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe standard
            dummy.</p>
        </div>
        <div class="row text-center d-flex gap-6">
          <div class="col-md-6 col-lg-3 normal">
            <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
              <div class="icon">
                <img src="../../assets/images/features/secure.png" alt="image">
              </div>
              <div class="text">
                <h3>Secure code</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type
                  setting indus ideas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 select">
            <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
              <div class="icon">
                <img src="../../assets/images/features/abt_functional.png" alt="image">
              </div>
              <div class="text">
                <h3>Fully functional</h3>
                <p>Simply dummy text of the printing and typesetting indus lorem Ipsum is dummy.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 normal">
            <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
              <div class="icon">
                <img src="../../assets/images/features/communication.png" alt="image">
              </div>
              <div class="text">
                <h3>Best communication</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and type
                  setting indus ideas.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 select">
            <div class="why_box select" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
              <div class="icon">
                <img src="../../assets/images/features/abt_support.png" alt="image">
              </div>
              <div class="text">
                <h3>24-7 Support</h3>
                <p>Simply dummy text of the printing and typesetting indus lorem Ipsum is dummy.</p>
              </div>
            </div>
          </div>
        </di>
      </div>
    </div>
  </section>

<style>

.why_we_section {
    display: flex;
    justify-content: center;
    gap: 4;
    row-gap: 3;
}

.why_we_section .why_inner {
     /* background-color: var(--accent-200);  */
    border-radius: 30px;
    width: 1370px;
    margin: 0 15px;
    box-shadow: 0 4px 30px #EDE9FE;
    padding: 105px 0;
}


.why_we_section .select{
    background-color: var(--primary-200);
    padding: 20px;
    border-radius:10px;
}

.why_we_section .normal{
  background-color: var(--bg-200);
  padding: 10px 10px 4px;
  border-radius: 10px;
  border-bottom: 4px solid var(--primary-100);
  
}

.why_we_section .why_inner .section_title {
    margin-bottom: 50px;
}

.why_we_section .why_inner .why_box .icon {
    margin-bottom: 45px;
}

.why_we_section .why_inner .why_box .icon img {
    max-width: 100%;
}

.why_we_section .why_inner .why_box .text h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-100);
    margin-bottom: 10px;
}

.why_we_section .why_inner .select .text h3 {
    font-size: 23px;
    font-weight: 600;
    color: var(--primary-300);
    margin-bottom: 10px;
}


.why_we_section .why_inner .why_box .text p {
    margin-bottom: 0;

}

.why_we_section .why_inner .select .text p {
    margin-bottom: 0;
    color:var(--text-300)    
}
</style>