---
---

<section>

<div class="banner container text-center">

<h1>Education for a greater future</h1>

<div class=" d-flex text-center justify-content-center m-auto align-items-center">
    <h6 class="col-lg-7 text-center" >Lorem Ipsum is simply dummy text of the printing and typese tting
        indus orem Ipsum has beenthe standard dummy.</h6>
    
</div>



</div>


</section>

<style>

    .banner{
        margin-top: 60px;

    }

    .banner h1{
        font-size: 55px;
        font-weight:bold;
        padding:10px;
    }
</style>