---


---

<script>
import Typed from 'typed.js';

const typed = new Typed('#element', {
  strings: ['First sentence.', 'a second sentence.'],
  typeSpeed: 100,
  loopCount: Infinity,
  startDelay: 0,
  backDelay: 10,
});

</script>


<section class="banner_section">
    <!-- container start -->
    <div class="container">
      <!-- row start -->
      <div class="row">
        <!-- shape animation  -->
          <span class="banner_shape1"> <img src="images/banner-shape1.png" alt="image" > </span>
          <span class="banner_shape2"> <img src="images/banner-shape2.png" alt="image" > </span>
          <span class="banner_shape3"> <img src="images/banner-shape3.png" alt="image" > </span>
        <div class="col-lg-6 col-md-12"  data-aos="fade-right" data-aos-duration="1500">
            <!-- banner text -->
          <div class="banner_text">
            <!-- h1 -->
            <h1>Best way to manage your customers. <span id="element"></span></h1>
            <!-- p -->
            <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.
            </p>
          </div>
          <!-- app buttons -->
          <ul class="app_btn">
            <li>
              
                <button class="btn_main" >GET STARTED</button>
        
            </li>
            <li>
                <button class="btn_main" >GET STARTED</button>
            </li>
          </ul>

          <!-- users -->
          <!-- <div class="used_app">
            <ul>
              <li><img src="images/used01.png" alt="image" ></li>
              <li><img src="images/used02.png" alt="image" ></li>
              <li><img src="images/used03.png" alt="image" ></li>
              <li><img src="images/used04.png" alt="image" ></li>
            </ul>
            <p>12M + <br> used this app</p>
          </div> -->
        </div>

        <!-- banner slides start -->
        <div class="col-lg-6 col-md-12"  data-aos="fade-in" data-aos-duration="1500">
          <div class="banner_image">
            <img class="moving_animation" src="../../src/assets/images/b.png" alt="image" >
          </div>
        </div>
        <!-- banner slides end -->

      </div>
      <!-- row end -->
    </div>
    <!-- container end -->

</section>
