<header class="site-header header-style-two">
    <div class="header__main-wrap stricky">
        <div class="container">
            <div class="header__main ul_li_between">
                <div class="header__logo">
                    <a href="index.html"><img src="assets/img/logo/logo-2.svg" alt=""></a>
                </div>
                <div class="main-menu__wrap ul_li navbar navbar-expand-lg">
                    <nav class="main-menu collapse navbar-collapse">
                        <ul>
                            <li class="menu-item-has-children active"><a href="index.html">Home</a>
                                <ul class="submenu">
                                    <li><a href="index.html">Home Chatbot</a></li>
                                    <li class="active"><a href="home-2.html">Home CRM</a></li>
                                    <li><a href="home-3.html">Home Copy Writing</a></li>
                                </ul>
                            </li>
                            <li><a class="scrollspy-btn" href="#feature">Feature</a></li>
                            <li><a class="scrollspy-btn" href="#process">How it works</a></li>
                            <li class="menu-item-has-children">
                                <a href="#!">Blog</a>
                                <ul class="submenu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-single.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Get in touch</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="d-lg-none">
                    <a class="header__bar hamburger_menu" href="javascript:void(0);">
                        <div class="header__bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
                <div class="header__button d-none d-lg-block">
                    <a class="thm-btn thm-btn--gradient style-2" href="#!">Login\Signup</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- slide bar start -->
 <aside class="slide-bar">
    <div class="close-mobile-menu">
        <a class="tx-close" href="javascript:void(0);"></a>
    </div>

    <!-- sidebar-info start -->
    <div class="sidebar-info">
        <div class="sidebar-logo mb-30">
            <a href="index.html">
                <img src="assets/img/logo/logo.svg" alt="logo">
            </a>
        </div>
        <div class="sidebar-content mb-40">
            <p>Revolutionize Your Future: Harness the Power of Technology for Unparalleled Growth and Success!</p>
        </div>
        <ul class="sidebar-menu list-unstyled">
            <li><a href="#!">About</a></li>
            <li><a href="#!">Services</a></li>
            <li><a href="#!">Projects</a></li>
            <li><a href="#!">Blog</a></li>
            <li><a href="#!">Contact</a></li>
        </ul>
        <div class="ul_li mt-60">
            <div class="ct-content-wrap d-flex">
                <div class="ct-title col-auto">Call us:</div>
                <div class="ct-content-wrap col">
                    <div class="ct-item-wrap row">
                        <div class="ct-item col-auto "> 
                            <span class="item-content"><a href="tel:02456787535" class="tel">024 5678 7535</a></span>
                        </div>
                        <div class="ct-item col-auto "> <span class="item-content"><a href="mailto:support@gmail.com">support@gmail.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sidebar-socials-wrap mt-30"> <a class="social-item" href="https://facebook.com/" target="_blank">Facebook</a><a class="social-item" href="https://www.behance.net/" target="_blank">Behance</a><a class="social-item" href="#" target="_blank">Telegram</a><a class="social-item" href="https://dribbble.com/" target="_blank">Dribbble</a></div>
    </div>
    <!-- sidebar-info end -->

    <!-- side-mobile-menu start -->
    <nav class="side-mobile-menu">
        <div class="header-mobile-search">
            <form role="search" method="get" action="#"> 
                <input type="text" placeholder="Search Keywords"> 
                <button type="submit"><i class="ti-search"></i></button>
            </form>
        </div>
        <ul id="mobile-menu-active">
            <li class="dropdown"><a href="index.html">Home</a>
                <ul class="sub-menu">
                    <li><a href="index.html">Home Chatbot</a></li>
                    <li class="active"><a href="home-2.html">Home CRM</a></li>
                    <li><a href="home-3.html">Home Copy Writing</a></li>
                </ul>
            </li>
            <li><a class="scrollspy-btn" href="#feature">Feature</a></li>
            <li><a class="scrollspy-btn" href="#process">How it works</a></li>
            <li class="dropdown">
                <a href="#!">Blog</a>
                <ul class="sub-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-single.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Get in touch</a></li>
        </ul>
        
    </nav>
    <!-- side-mobile-menu end -->
</aside>
<div class="body-overlay"></div>
<!-- slide bar end -->


<style>
    .ul_li, .ul_li_right, .ul_li_center, .ul_li_between {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.ul_li > li, .ul_li_right > li, .ul_li_center > li, .ul_li_between > li {
  float: left;
  list-style: none;
  display: inline-block; }

.ul_li {
  justify-content: flex-start; }

.ul_li_center {
  justify-content: center; }

.ul_li_right {
  justify-content: flex-end; }

.ul_li_between {
  justify-content: space-between; }

.ul_li_block {
  margin: 0px;
  padding: 0px;
  display: block; }

.ul_li_block > li {
  display: block;
  list-style: none; }

.flex-1 {
  flex: 1; }

.site-header {
  z-index: 3;
  position: relative; }

.header__top {
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-white);
  margin-top: -10px; }
  @media (max-width: 767px) {
    .header__top {
      display: none; } }
.header__top-info {
  color: var(--color-white);
  margin-top: 10px; }
  .header__top-info li:not(:last-child) {
    margin-right: 50px; }
  .header__top-info li img {
    margin-right: 9px; }
.header__links {
  margin-top: 10px; }
  .header__links li:not(:last-child) {
    margin-right: 38px; }
  .header__links li a {
    color: var(--color-white); }
.header__social {
  margin-left: 73px;
  margin-top: 10px; }
  .header__social li:not(:first-child) {
    margin-left: 16px; }
  .header__social li a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px; }
    .header__social li a:hover {
      color: #fff; }
.header__bar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #F1F1F1;
  display: inline-block;
  margin-right: 94px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 991px) {
    .header__bar {
      margin-right: 0; } }
  .header__bar span {
    width: 100%;
    height: 2px;
    background-color: #0F1928;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    display: inline-block;
    position: absolute;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header__bar span:nth-child(1) {
      top: 0; }
    .header__bar span:nth-child(2) {
      top: 50%;
      width: 11px;
      margin-top: -1px; }
    .header__bar span:nth-child(3) {
      bottom: 0; }
  .header__bar:hover span:nth-child(2) {
    width: 100%; }
.header__bar-icon {
  height: 14px;
  width: 18px;
  position: relative; }
.header__search {
  margin-right: 24px;
  padding-right: 30px;
  position: relative; }
  @media (max-width: 991px) {
    .header__search {
      display: none; } }
  .header__search::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2px;
    height: 28px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #C7C9D4;
    content: ""; }
.header__button {
  margin-left: 30px; }
  @media (max-width: 767px) {
    .header__button {
      display: none; } }
  .header__button .thm-btn {
    padding: 14px 35px; }
@media (max-width: 1199px) {
  .header__account {
    display: none; } }
.header__account a {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 500; }
  .header__account a > img {
    margin-right: 5px; }
  .header__account a > i {
    margin-left: 2px; }
.header__account ul {
  list-style: none; }
  .header__account ul > li {
    position: relative; }
  .header__account ul li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
.header__account .lang_sub_list {
  background: var(--color-white);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  transition: 0.3s;
  position: absolute;
  right: 0;
  z-index: 9;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  min-width: 140px;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px); }
  .header__account .lang_sub_list li:not(:last-child) {
    border-bottom: 1px solid #ededed; }
  .header__account .lang_sub_list li a {
    color: #646c76;
    display: block;
    padding-right: 29px;
    min-height: 42px;
    line-height: 37px;
    padding-left: 18px;
    font-size: 14px;
    font-weight: 500; }


.header-style-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .header-style-two .main-menu ul li a {
    color: #fff; }
  .header-style-two .main-menu ul li .submenu {
    background-color: #0F0E1E; }
    .header-style-two .main-menu ul li .submenu li a {
      color: #fff; }
  .header-style-two .stricked-menu {
    background-color: #0F0E1E; }
  .header-style-two .header__button .thm-btn {
    padding: 14px 38px; }
  @media (max-width: 991px) {
    .header-style-two .header__main {
      padding: 20px 0px; } }
  .header-style-two .header__bar span {
    background-color: #fff; }

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .header-style-three .header__bar {
    margin-right: 35px; } }
@media (max-width: 1199px) {
  .header-style-three .header__bar {
    margin-right: 30px; } }
@media (max-width: 767px) {
  .header-style-three .header__bar {
    margin-right: 0; } }
@media (max-width: 991px) {
  .header-style-three .header__main-wrap {
    padding: 12px 0; } }
@media (max-width: 991px) {
  .header-style-three .header__button {
    margin-left: 0; } }

.stricked-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  top: 0;
  -webkit-transform: translateY(-100%);
  -khtml-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  -khtml-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  -moz-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  -ms-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  -o-transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  visibility: hidden;
  background-color: var(--color-white); }
  .stricked-menu .main-menu ul li a {
    padding: 30px 0; }

.stricked-menu.stricky-fixed {
  -webkit-transform: translateY(0%);
  -khtml-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  -webkit-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -khtml-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -moz-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -ms-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  -o-box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09);
  box-shadow: 0 3px 18px rgba(2, 21, 78, 0.09); }

@media (max-width: 991px) {
  .slide-bar {
    padding: 30px;
    padding-top: 70px;
    max-width: 300px;
    right: -300px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); } }
@media (max-width: 991px) {
  .slide-bar .sidebar-info {
    display: none; } }
@media (max-width: 991px) {
  .slide-bar .side-mobile-menu {
    display: block; } }
@media (max-width: 991px) {
  .slide-bar .close-mobile-menu {
    right: 0;
    left: 0; } }
.slide-bar .tx-close {
  width: 45px;
  height: 45px;
  border-width: 14px; }

.header-mobile-search input {
  border: 2px solid rgba(150, 144, 162, 0.09);
  padding: 15px; }

.home-dark .slide-bar {
  background: #030216; }
.home-dark .side-mobile-menu ul li a {
  color: #fff; }
.home-dark .slide-bar .tx-close::before,
.home-dark .slide-bar .tx-close::after {
  background-color: #fff; }
.home-dark .header-mobile-search input {
  background: #0F0E1E;
  color: #fff; }
  .home-dark .header-mobile-search input:focus {
    border-color: var(--color-primary-2); }
.home-dark .side-mobile-menu ul li a:hover {
  color: var(--color-primary-2); }
.home-dark .side-mobile-menu ul li ul li:hover > a::before {
  background: var(--color-primary-2);
  border-color: var(--color-primary-2) !important; }
.home-dark .header__bar {
  border-color: transparent;
  background: rgba(150, 144, 162, 0.1);
  width: 45px;
  height: 45px; }
  .home-dark .header__bar span {
    background-color: #fff; }
</style>