<section>

    <div class="container banner-parent">

        <div class="row banner2 d-flex">
            <div class="col-lg-6 left_text">

             <h2>Try it for free</h2>

             <h3>Clarity gives you the blocks & components you need to create a truly professional website, landing page or admin panel for your SaaS.</h3>

            <div class="button-section">

<button class="solid">Contact us Today</button>
<button class="outlined">Join Waitlist</button>
            </div>
            
            </div>

            <div class="col-lg-5 right_image">

                <img src="https://landingfoliocom.imgix.net/store/collection/saasui/images/cta/2/cta-2.png" alt="no_image_seen" class="img-fluid">
            </div>

        </div>
    </div>
</section>


<style>
    .left_text {
        padding: 40px;
        margin:auto;
       
    }

    

    .banner-parent{
        background-color: #d8dfe5;
        border-radius: 20px;
        
    }
    .banner2 h2{
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 30px;
    }

    .banner2 h3{
        font-size:18px;
        font-weight:300;
        margin-bottom: 40px;
    }

    .banner2 .button-section button{
    padding: 15px 40px 15px;
    font-size:17px; 
    border:none;
    border-radius:40px;

    }

    .banner2 .button-section .outlined{
border: 1px solid black;
background-color:transparent;
    }

    .banner2 .button-section .solid{
        background-color:cornflowerblue;
        color: white;


    }
</style>